[2017-09-29 07:27] tintoy commented on #138
Wow, OK, yak-shaving time. There is no Mustache implementation currently compatible with .NET Standard (any version!). Looks like I'll have to create a .NET Standard port of Nustache (or similar).

Anyone who'd like to help - now's the time to pitch in :)

[2017-09-29 07:28] tintoy commented on #138
Actually, let me see if it'll still run on .NET Standard 2.0 first (I get the usual `NU1701` but it may still work correctly).

[2017-09-29 07:28] tintoy commented on #1963
Actually, let me see if it'll still run on .NET Standard 2.0 first (I get the usual `NU1701` but it may still work correctly).

[2017-09-29 08:02] tintoy commented on #1963
Ok, a more serious blocker: dotnet/roslyn#17968. There's currently no `MSBuildWorkspace` for .NET Standard. I might have another poke around the OmniSharp source code to see how hard it would be to create an interim workaround for this.

[2017-09-29 08:09] cropper1991 commented on #2089
Okay guys, thank you all for your input, right now I will have to customise the yml files to include additional data such as tags and standard vb comments (where applicable).

Moving forward, I will hopefully migrate us to using summary comments in the appropriate places, reducing the amount of customization of the yml model files required.

[2017-09-29 08:11] tintoy commented on #1963
Have ported everything except CLI, tests, and `Microsoft.DocAsCode.Metadata.ManagedReference` for now. Will have a think about what it would take to make `Microsoft.DocAsCode.Metadata.ManagedReference` work on .NET Standard but it sounds like this library in particular may be a bit trickier to port.

[2017-09-29 09:08] oyshan commented on #661
We're experiencing isses with #2.
It seems the search index is built every time you click on the page. This causes problems for docs sites with a medium/big-sized index.json file. It takes almost 10s for the lunr search index to be built. I.e. 10 seconds where Search does not work.
I agree that the Lunr-index should be built build-time, and only loaded run-time.

[2017-09-29 10:32] cropper1991 opened #2094 "[Question] Can I generate Documentation from Source (.vb or vbproj) with VS 2015"
I've noticed that in the guidelines, there are comments saying that Visual Studio 2017 is a pre-requisite for building documentation, but I was wondering, if I'm only providing .vb or .vbproj files whether this is supported at all?

Currently I keep getting Null Reference Exceptions during the Metadata Gathering Phase.

[2017-09-29 15:08] cropper1991 commented on #2094
Ignore this as I've got around these issues (was due to MSBuild Version being incorrect on the vbproj files). Now I'm encountering issues with the filtering mechanism. What I am basically trying to do is exclude all types except for the following two regex strings:
WCF.HTTPLayer
Elements

Is this doable in the filtering mechanism?

[2017-09-29 21:06] tintoy commented on #1963
Probably have a solution for `Microsoft.DocAsCode.Metadata.ManagedReference`:

https://gist.github.com/tintoy/76b48591e2a34429c1f5c02556b8b4d2

Essentially, we can use an `AdhocWorkspace` and populate it using the MSBuild engine to examine the project's properties and items; a slightly-less-sophisticated version of what `MSBuildWorkspace` does.

This may not work for _every single_ project out the

[2017-09-30 02:43] vwxyzh commented on #2094
@cropper1991 yes, you can add two include first, then add exclude all types.
e.g.:
[code]

See [document](http://dotnet.github.io/docfx/tutorial/howto_filter_out_unwanted_apis_attributes.html#the-format-of-the-filter-configuration-file).

[2017-09-30 03:31] icnocop opened #2099 "DoxFx VS Code extension doesn't display the preview correctly with multiple preview tabs"
**DocFX Version Used**:
Visual Studio Code 1.16.1
DocFX Extension 0.1.0

**Steps to Reproduce**:

1. Open a folder in VS Code to the root of the docfx project
2. Open a markdown file (first Markdown file)
3. Press ctrl+shift+q to Open Preview (first Preview tab)
4. Open another markdown file (second Markdown file)
5. Press ctrl+shift+q to Open Preview (second Preview tab)
6. Click on the first Pre

[2017-09-30 06:56] cropper1991 commented on #2094
Right thanks for that, I'll give that a go when I'm back in work on Monday.

[2017-10-02 08:10] cropper1991 commented on #2094
When using the config file, as described above I am getting the following error:

"Value cannot be null. Parameter name: text" during the metadata extraction phase.

[2017-10-03 10:55] vwxyzh commented on #2094
Can you provide more information?
You can set loglevel to verbose by following:
[code]

[2017-10-03 13:29] cropper1991 commented on #2094
Unfortunately, it's not giving me much more information regarding this, plus I won't be able to provide the solution I'm using.

Below is the output from the metadata switch using --loglevel verbose:

[17-10-03 01:27:55.968]Info:Config file docfx.json found, start generating metadata...
[17-10-03 01:27:56.453]Verbose:[ExtractMetadata](One2One.Global.vbproj)Loading project One2One.Global.vbproj
[17

[2017-10-04 05:28] willnode opened #2101 "Feature request: Article Navigation"
**DocFX Version Used**:
2.24

**Template used**: (`default` or `statictoc` or contain custom template)
custom

**Steps to Reproduce**:
N/A

**Expected Behavior**:
N/A

**Actual Behavior**:

Navigating between articles can be easier if I have something like this in the end of articles.
![next and previous button](https://user-images.githubusercontent.com/20214420/31160878-0e96e436-a8fe-11e7-9273-bd

[2017-10-05 08:07] cropper1991 commented on #2094
This also occurs, if I provide it with the following filter config:
apiRules:
- exclude:
    uidRegex: ^System
    type: type
attributeRules:
- exclude:
    uidRegex: ^System.SerializableAttribute
    type: Type

Any ideas?

[2017-10-05 08:16] cropper1991 commented on #2094
I've narrowed this down to the fact it's excluding System Types, once I remove the exclusion of System Based Types it works as expected.

[2017-10-07 21:25] smaillet commented on #1124
@superyyrrzz re: your point 1 on a breaking change: That's actually a good thing in this case as the template overwriting user provided content is a violation of the principle of least surprise. Not t o mention basically defeats the whole idea of user provided content with fallback defaults in the template.

If the "content" inside a template is designed to be a default unless configured by the us

[2017-10-08 10:05] emrgee commented on #1124
All users posting here so far claim that this is indeed just a simple bug. Trying to redefine what a templating system is and discussing this back and forth just appears as procrastination to me. We should trust the feedback from users that have worked with quite a few other templating systems. This bug is hanging around for 9 month without a fix from the dev team. Because we cannot vote on bug pr

[2017-10-08 17:03] smaillet commented on #1124
I don't see that everyone agrees it is a simple bug. I see people trying to explain why it is a problem and the docfx team arguing how users don't understand the "templating" system (e.g. effectively calling it user error or ignorance). I've used numerous doc generation tools from DocJet, DoxyGen, Innova, SandCastle etc... and all of them let you set things like your logo, company name copyright e

[2017-10-09 01:20] #1858 closed

[2017-10-09 02:23] vwxyzh commented on #2094
@cropper1991 why does your projects contain system types?

[2017-10-09 08:02] cropper1991 commented on #2094
Booleans, Integers, Nullable Booleans just a few of the types in use in the projects.

[2017-10-09 08:17] vwxyzh commented on #2094
We only generate types which **defined** in your project.

[2017-10-09 08:43] cropper1991 commented on #2094
Yes, I realise this, however because I'm using this with vbproj, it still generates references to System Types. And I suspect during the resolution process, because I had an exclusion of all System Types in effect, it failed.

[2017-10-09 15:32] cropper1991 opened #2107 "Verbose Logging Level - Dependency Graph Reports Failure to Match System Types"
**DocFX Version Used**: 2.5.1

**Template used**: 'statictoc' with customizations

**Steps to Reproduce**:

1. Use a sample project to produce metadata via the metadata command (containing system types such as System.Int32)
2. Then, run the build command, with the command line switch --loglevel verbose

As an example

**Expected Behavior**:
Dependency Graph code to understand System + Array Types

[2017-10-10 02:01] vicancy commented on #1963
@tintoy Sorry for late response. I was on vacation and am back now. I will take a look at it today.

[2017-10-10 02:06] tintoy commented on #1963
@vicancy no problem, take your time - I've got plenty of other stuff to keep me busy :)

[2017-10-10 02:20] vicancy commented on #1963
@tintoy Thinking of changing from Mustache to Handlebars, https://www.nuget.org/packages/Handlebars.Net/ suports `.NET standard`

[2017-10-10 03:13] tintoy commented on #1963
Nice - I totally forgot about Handlebars; how compatible is the syntax between the 2? It's been ages since I used Handlebars, but I seem to remember it's basically a superset of Mustache...

[2017-10-10 03:42] vicancy commented on #1963
@tintoy It generally compatible with Mustache, the main difference is that it does not search up when context does not found, which is exactly what we expect. There may be other differences that leads to a breaking change (which is my main concern) so I need more time to test before switching. 😢

[2017-10-10 03:48] tintoy commented on #1963
Yeah, see what you mean, and it looks like there are only a couple of tests for the template processor at the moment. Still, that's the great thing about Xunit theories - write 1 test and then just keep adding test data 😎

[2017-10-10 05:08] vicancy commented on #2107
Could you provide the sample project and the build output message ?

[2017-10-10 05:09] vicancy commented on #2101
A cool feature I have thought for a while

[2017-10-10 05:09] #1979 closed

[2017-10-10 05:10] #2024 closed

[2017-10-10 05:15] vicancy opened #2108 "Improve template system"
- [ ] 1. Mustache -> Handlebars for semantic syntax support
- [ ] 2. Support Razor?

[2017-10-10 07:55] nonno opened #2110 "Child process Error ... DfmHttpService.exe: Permission denied"
**DocFX Version Used**: 0.1.0

** VSC Versione Used**: 1.17.0 (MacOS Sierra 10.12.6 (16G29))

**Template used**: `default`

**Steps to Reproduce**:

1. Installed the plugin
2. Restarted VSC
3. Opened the preview of a .md

![screen shot 2017-10-10 at 09 46 28](https://user-images.githubusercontent.com/4105325/31375248-3073bf0a-ada1-11e7-9711-4f80ec319db0.png)

[2017-10-10 08:00] cropper1991 commented on #2107
Of course vicancy, hopefully you'll agree this is one of the simplest projects I could have put together. Attached is a zip folder containing the source files and vbproj, along with a text file which contains the output from docfx with the verbose logging switched on. I hope this is sufficient for what you need to investigate further.

[Test Project - Issue 2107.zip](https://github.com/dotnet/docf

[2017-10-10 08:05] cropper1991 commented on #2107
This may be to do with imported namespaces, as when I remove these from the sample project it appears as if graph resolution functions as expected.

[2017-10-10 09:00] cropper1991 commented on #2107
Sorry to bombard you with examples, but I've also found another combination which seems to also illustrate this issue. This is a sample layout of how we've setup a WCF based layer. Again as previously asked for I've also attached the output from verbose logging. The reason for using verbose logging in our case, is we are running this in an unattended fashion, and so we want to have in depth detail

[2017-10-10 10:55] crazyfx1 opened #2111 "TOC broken with duplicate level 2 / 3 titles"
**DocFX Version Used**: 2.25.1

**Template used**: (`default` or `statictoc` or contain custom template)
default

**Steps to Reproduce**:

Create a document with structure like this:

[code]
**Expected Behavior**:

The TOC on the right side should show the correct section regarding the parent section.

**Actual Behavior**:

The TOC highlights multiple items.
![image](https://user-images.githubuser

[2017-10-11 01:25] vicancy commented on #2107
Hi @cropper1991 Dependency graph reports unresolved references to System.* type values because these are not inside your code, docfx will consider it as external references instead internal reference. I would suggest you ignore verbose level messages, they are generally messages for debugging purpose.

[2017-10-11 01:41] Onots opened #2112 "Sidebar search doesn't ignore zero width spaces"
**DocFX Version Used**: 2.24

**Template used**: (`default` or `statictoc` or contain custom template)
default

**Steps to Reproduce**:

1. Copy a class name with at least two part (ie. FooBar) from a documentation site (note: this will include a zero width space between Foo and Bar)
2. Past into the side bar search

**Expected Behavior**:
The FooBar class shows up as a search result

**Actual Beh

[2017-10-11 03:06] superyyrrzz commented on #2112
Can you try v2.25? Now we use `<wbr>` instead of zero width spaces.

[2017-10-11 03:45] superyyrrzz commented on #1124
@smaillet Thank you for your comments and it's really convincing. It makes sense for content to overwrite template. I will fix it.
@emrgee After the fix, `_appFaviconPath` is not needed. Adding a resource is sufficient:
[code]

[2017-10-11 07:07] cropper1991 commented on #2107
What about the array types? Surely it shouldn't be reporting these as unresovlable?

[2017-10-11 20:07] joelmartinez opened #2114 "Add Proper Dependencies to `docfx` Nuget package"
The [nuget package for docfx](https://www.nuget.org/packages/docfx/), as of `2.25.1` does not list dependencies such as [`Microsoft.DocAsCode.Common`](https://www.nuget.org/packages/Microsoft.DocAsCode.Common/).

**Expected Behavior**:

You should be able to add `<package id="docfx" version="2.25.1"  />` to your `packages.config` file and have a fully working instance of docfx.

**Actual Behavior*

[2017-10-11 20:32] joelmartinez opened #2115 "Nuget version of DocFX doesn't run on Mono"
I'm on a mac, with mono `v5.4.0.201` and `make` installed locally, and I'm trying to run docfx.

**DocFX Version Used**:  2.25.1

**Steps to Reproduce**:

1. Create a `packages.config` file with the following content:

[code]
    Please note, the common and plugins dependencies are only added due to #2114 ... ideally it the packages file would have only a single entry for docfx
2. Create a `Makefi

[2017-10-12 02:17] vwxyzh commented on #2094
@cropper1991 Sound like a bug, can do give a mini repro project?

[2017-10-12 03:05] Onots commented on #2112
That does make it work. I've upgraded to 2.25.2.

Thanks!

[2017-10-12 03:05] #2112 closed

[2017-10-12 07:12] xxcuratorxx opened #2117 "[Question] Is it possible to files classes, e.g., by reflection"
Hi,

I know it is possible to filter the files of which html documentation is created by folder etc.

However, I need to generate documentation only for, e.g., static classes. Is there any extension point to write some code to decide for every class (e.g. by reflection) whether it should be included or not?

Thanks,
curator

[2017-10-12 07:25] srottem commented on #2032
The new package that includes the commit doesn't appear to have solved the problem on my system - it's like the Powershell script doesn't execute at all as there is no output in the docfx.json nor the messages on the console from the catch block.

[2017-10-12 07:46] cropper1991 commented on #2117
Your best bet is to use the inbuilt filtering mechanism, for more information see here:
https://dotnet.github.io/docfx/tutorial/howto_filter_out_unwanted_apis_attributes.html

[2017-10-12 07:55] #2111 closed

[2017-10-12 07:55] cropper1991 commented on #2094
vwxyzh, I am trying to produce a sample repro project now.

[2017-10-12 08:12] cropper1991 commented on #2094
So far, I'm only able to repro this on our main solution, a sample project I've been using in the past is not exhibiting the same behaviour.

[2017-10-12 08:38] vwxyzh commented on #2094
@cropper1991 can you share your docfx.json file?

[2017-10-12 08:49] Benzelona commented on #1914
push.

[2017-10-12 09:05] cropper1991 commented on #2094
I've had to provide it in zip format as the uploader wouldn't allow me to upload json file.
[docfx.zip](https://github.com/dotnet/docfx/files/1378731/docfx.zip)

[2017-10-12 09:09] superyyrrzz commented on #1863
@Dids I tried your steps but cannot repro. Can you provide a sample project?
Note that I'm testing under Windows, not Mac. Not sure whether the platform matters.

[2017-10-12 09:31] Dids commented on #1863
@superyyrrzz I just tried to create a minimal sample project, but couldn't seem to replicate it. I can, however, still replicate it in a single "real" project.

Would it be possible to email you a zipped copy of the project? Since it's a private/client project, I'd rather not post a link to it publicly here.

[2017-10-12 15:42] superyyrrzz commented on #1863
It's fine for me. You can email to renzeyu@microsoft.com

[2017-10-13 01:37] vicancy commented on #2107
@cropper1991 They are reported as unresovable by the "dependency graph" as they are not internal types your solution defines. Actually they will be resolved as "external" reference types. "dependency graph" is used by docfx incremental build and not the final output. So I suggest you just ignore the message if there is no unexpected behavior for the output html files.

[2017-10-13 01:59] vwxyzh commented on #2094
@cropper1991 docfx.json looks good.

[2017-10-13 02:56] vicancy commented on #2115
Hi @joelmartinez please try `docfx.console` nuget package which contains `docfx.exe` under `tools` folder, using `nuget install docfx.console` and `mono tools/docfx.exe init`

[2017-10-13 03:02] 928PJY commented on #2076
This issue is caused by Microsoft Internal VSCode extension.

[2017-10-13 03:22] brianlagunas commented on #1659
Any update on when the Tab support is coming?

[2017-10-13 03:25] 928PJY commented on #2110
Hi, @nonno, Right now, we just support this extension on Windows OS, Cross-platform is coming soon!

[2017-10-13 03:28] brianlagunas opened #2120 "Code Snippet from GitHub link"
Currently, you can only provide a code snippet with a local code file.  I would like the ability to provide a link to the code file as my docs are not in the same repo or location as the actual code.

`[!code-csharp[My Snippet](https://github.com/PrismLibrary/Prism/blob/master/Source/Xamarin/Prism.Forms/PrismApplicationBase.cs?range=2-8)]`

I see that the MS docs uses this syntax in various MD fil

[2017-10-13 03:43] brianlagunas opened #2122 "[!Video] block doesn't display video"
**DocFX Version Used**: 2.25.2

**Template used**: `statictoc`

**Steps to Reproduce**:

1. Use the following MD
`> [!Video https://youtu.be/DYRLcqG2BAY]`

**Expected Behavior**:
The video should be displayed

**Actual Behavior**:
Browser error (Chrome and Edge)

[2017-10-13 03:53] superyyrrzz commented on #1820
Same with #2024. Resolved in #2084 since v2.25.
![image](https://user-images.githubusercontent.com/3831744/31529617-e9b9690c-b00c-11e7-909b-7f99ae6e5e48.png)

[2017-10-13 03:53] #1820 closed

[2017-10-13 04:01] superyyrrzz commented on #2122
Choose the embed video link should work: `> [!Video https://www.youtube.com/embed/DYRLcqG2BAY]`

https://stackoverflow.com/questions/9934944/embedding-youtube-video-refused-to-display-document-because-display-forbidden-b

[2017-10-13 04:18] superyyrrzz commented on #2120
It's not supported to reference a code snippet link for now.
In MS docs pipeline, the referenced repo is cloned before docfx build. Then all code referenced becomes local files. Will this work for you?

[2017-10-13 08:29] oliverangermueller opened #2125 "Exclude/Include complete projects by attribute"
**DocFX Version Used**: docfx 2.22.2.4

**Template used**: default

Hello,

our application consists of many projects. We want to build at least two documentations for normal users and for experts. Therefore we have two templates for the two documentations. For each template we have define the projects which should be included. If a developer adds a new project to our application he has to add it

[2017-10-13 08:48] cropper1991 commented on #2107
Right okay, thank you for this clarification

[2017-10-13 08:49] cropper1991 commented on #2094
Hmm.. not to worry, I will see if I can create a repro project, otherwise we'll just have to leave it at that

[2017-10-13 08:50] cropper1991 opened #2126 "Carriage Returns in Summary Tags - Not Converted to Br in Final Output"
**DocFX Version Used**: 2.25.1

**Template used**: statictoc with customizations

**Steps to Reproduce**:

1. Run docfx on a project, whereby at least one method or class has a summary tag spanning multiple lines

**Expected Behavior**:
'\n' characters within the metadata files should be converted to br tags, and therefore match how it was laid out in the code

**Actual Behavior**:
Multi-line summ

[2017-10-13 11:04] CharlesOkwuagwu commented on #512
I have the same problem, but with SQL Server 2017 and SSMS 17.3
see https://stackoverflow.com/questions/46727834/strange-exception-opening-new-ssms-query-window

All fixes I've seen point to installing [Microsoft Build Tools 2015](https://www.microsoft.com/en-us/download/details.aspx?id=48159)

How can a dependency on an old 2015 product affect the smooth running of a fresh installation of SQL Ser

[2017-10-13 14:43] brianlagunas commented on #2122
Perfect!  Thanks a lot.

[2017-10-13 14:43] #2122 closed

[2017-10-13 14:51] brianlagunas commented on #2120
While technically possible, it is not the desired approach.  We have an existing repo with hundreds of samples in a different repo.  The work required to identify the files and copy them over would not be worth the time, money, and resources.  It would be better if we could just point to the GitHub URI instead.

Is this possible?  Can a plugin be written to achieve this?

[2017-10-13 20:55] joelmartinez commented on #2115
Ahh, excellent news ... thank you for the information @vicancy! yes it works as described :)

This would make an excellent topic of documentation ;)

[2017-10-13 20:57] joelmartinez commented on #2114
Per [this comment](https://github.com/dotnet/docfx/issues/2115#issuecomment-336336540) ... CLI use-cases should be using the `docfx.console` nuget package, rather than `docfx`. I will close this issue :)

[2017-10-13 20:57] #2114 closed

[2017-10-16 00:47] vwxyzh commented on #2120
@brianlagunas it is possible, but we cannot detect the change from a remote url, that means you need always use force build (-f) for any changes in sample repo.

[2017-10-16 01:10] vwxyzh commented on #2120
@brianlagunas one more limitation is you should give the raw file url, not GitHub page url.
e.g.:
https://github.com/PrismLibrary/Prism/blob/master/Source/Xamarin/Prism.Forms/PrismApplicationBase.cs
=>
https://raw.githubusercontent.com/PrismLibrary/Prism/master/Source/Xamarin/Prism.Forms/PrismApplicationBase.cs

[2017-10-16 01:20] vwxyzh commented on #2126
@cropper1991 Same behavior in vs2017.

If you want to add `<br/>` in line end, you need following markdown rules:
* add two or more space before '\n'.
* add '\\' before '\n' (only for dfm-latest)
* add `<br/>`

[2017-10-16 07:47] cropper1991 commented on #2126
So, what your saying, is in the case of encountering the following XML comments:

''' <summary>
''' This is a sample comment.
''' <b>Note:</b> Test note

That this wouldn't be translated into a multi line summary and instead be rendered as followed:
This is a sample comment. **Note:** Test Note?

[2017-10-16 08:24] #2089 closed

[2017-10-16 08:33] cropper1991 opened #2128 "StaticToc - Custom App Logo (Cross Origin Request Rejected)"
**DocFX Version Used**: 2.25.1

**Template used**: 'statictoc' with memberpage plugin

**Steps to Reproduce**:

1. Create a website using the static toc template, ensuring to set _appLogoPath to a custom logo, such as Logo.png
2. Navigate to the Index Page that it's produced, open up developer tools (in this case my browser is Google Chrome)
3. You will notice an error message within the console s

[2017-10-16 10:48] Dids commented on #1863
Sorry for the delay. Just sent the email.

[2017-10-16 14:58] brianlagunas commented on #2120
That would be great.  Using the raw file link is no problem.  Is there an example of a plugin that I could modify to achieve this?  I doubt many people require this so adding it directly to the docfx system probably isn't required.

[2017-10-16 22:23] brianlagunas opened #2129 "[Question] Multi-repo doc guidance"
I have a single site that just serves up documentation from multiple document repos, very similar to how MS has their docs separated by product.  For example:

- Repo for project 1
- Repo for project 2
- Repo for project 3

None of these repo's will have any API documentation.  Only "Articles" in the form of MD files.

There will not be a landing page for the documentation site.  Instead, each pro

[2017-10-17 02:24] vwxyzh commented on #2126
<img width="357" alt="pic1" src="https://user-images.githubusercontent.com/2705828/31643834-674b53e2-b325-11e7-8d48-177616d4a3ec.png">

[2017-10-17 03:36] superyyrrzz commented on #1863
It's a bug in DocFX. `_gitContribute` is of `Dictionary` when set in `globalMetadata`, while it's `JObject` when set in `globalMetadataFile`, which breaks the following steps.
I've create a PR to fix this. For now, A quick workaround for your project is to move `_gitContribute` to `docfx.json`'s `globalMetadata` section.

[2017-10-17 05:11] Dids commented on #1863
Thank you very much! The workaround sounds fine too, just glad it turned out to be a bug, so I know I’m not going crazy.

--
Pauli Jokela, Didstopia

On 17.10.2017 klo 6.36 +0300, Renze Yu <notifications@github.com>, wrote:

[2017-10-17 06:20] vwxyzh commented on #2120
The document of customizing DFM renderer is [here](http://dotnet.github.io/docfx/tutorial/howto_customize_docfx_flavored_markdown.html#customize-renderer).
The core code of rendering DFM-code is [here](http://dotnet.github.io/docfx/api/Microsoft.DocAsCode.Dfm.DfmCodeRenderer.html).

[2017-10-17 07:09] vicancy commented on #1659
@brianlagunas  I am working on the template support. Hopefully will be available on the next release
![image](https://user-images.githubusercontent.com/668244/31651162-24be1780-b34d-11e7-9da4-d337e2688b4b.png)

[2017-10-17 07:12] vicancy commented on #1963
@tintoy with the 95% support, is this `<Comiple` case the only case that the AdhocWorkspace does not support?

[2017-10-17 07:24] tintoy commented on #1963
It can support it, we just have to use `Microsoft.Build.Evaluation`to evaluate the `Compile` item group :) I can whip up an example if you like

[2017-10-17 07:25] tintoy commented on #1963
(just may not work for _every_ project e.g. the exceptions listed above)

[2017-10-17 07:59] superyyrrzz commented on #2128
The error occurs when scripts try to resolve the svg file. If you are using a png file, although the resolve will fail, the png should show and link can work.
Of course, I agree the logic to resolve svg isn't needed here. It can be improved to eliminate the eror.

[2017-10-17 08:06] tintoy commented on #1963
@vicancy - [this](https://gist.github.com/tintoy/76b48591e2a34429c1f5c02556b8b4d2#file-program-cs-L75-L92) demonstrates evaluating the `<Compile/>` items and adding them to the workspace.

[2017-10-17 08:13] cropper1991 commented on #2128
Ah okay, this makes more sense, I can confirm the png works as expected, but thought it worth mentioning either way.

[2017-10-17 08:13] cropper1991 commented on #2126
Okay vwxyzh, thanks for this clarification, I will now close this issue.

[2017-10-17 08:13] #2126 closed

[2017-10-17 14:17] brianlagunas commented on #2120
Thanks!

[2017-10-17 14:17] #2120 closed

[2017-10-17 15:43] nonno commented on #661
I'm trying to customize the search-stopwords.json so I can filter Italian stopwords (we are writing documentation in Italian), but without success. I tried to override the file inside my custom template and also to set the array directly inside search-worker.js, but apparently nothing happens and the index.json in the _site root is always huge. Could anybody explain my how I can do it?

[2017-10-18 00:40] cesarsouza opened #2131 "Code examples in XML documentation"
Can DocFx handle ```<code source="someclass.cs" region="some_region" />``` tags in XML documentation?

In Sandcastle and a few other tools it is possible to specify that the contents of a ```<code></code>``` tag should be fetched from a ```#region``` from inside an arbitrary file in the project, e.g.:

[code]

My question is, can DocFx handle this as well?

I am trying to replace Sancastle by DocF

[2017-10-18 00:55] superyyrrzz commented on #2131
http://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html#code-snippet

[2017-10-18 01:10] vicancy commented on #2131
Yes, it is supported as described by https://github.com/dotnet/docfx/issues/910

[2017-10-18 03:05] vicancy commented on #2129
Hi @brianlagunas do you want these repo to share the same navbar? One idea is to use absolute path as link to other projects, for example, for project 1, the root toc.yml would be:
[code]
for project 2, the root toc.yml would be:
[code]

[2017-10-18 07:02] cesarsouza commented on #2131
Many thanks for the quick answers!

@superyyrrzz thanks, I had seen that page, but understood it applied only to markdown. There is no mention about how to accomplish the same as the ```[!code-<language>[<name>](<codepath><queryoption><queryoptionvalue> "<title>")]``` tag using triple slash XML comments.

@vicancy thanks, but I couldn't get it working yet. How do I tell DocFx where the root direct

[2017-10-18 09:07] vicancy commented on #2131
Hi @cesarsouza the file path for `source` should be relative to the location of that source code containing that comment, in your example, it is `SomeClass.cs`

[2017-10-18 15:02] brianlagunas commented on #2129
Thanks, I'll give that a try.  Since a site is generated for each repo, I'll just copy out the contents within the "articles" folder and put them in the main site's structure.

[2017-10-18 15:02] #2129 closed

[2017-10-18 15:36] bitbonk commented on #2129
This is a general problem with DocFX I think. It is kind of hard to find a good path on how to build something like docs.microsoft.com where independent project contribute to the same docs site. These kind of question are coming up quite often.

[2017-10-18 16:20] cesarsouza commented on #2131
Hi @vicancy thanks for the answer!

Is there any chance that DocFx could make this configurable?

If we always assume that the file path for ```source``` should be relative to the location of the source code containing the comment, it means that the documentation will break if we move the file to a parent or child directory, and all ```source``` attributes will need  to be updated. In addition, if

[2017-10-18 16:41] cesarsouza commented on #952
I suppose that when most people mention Sandcastle they actually mean SHFB. In this case, the rules were initially specified here: https://ewsoftware.github.io/SHFB/html/48f5a893-acde-4e50-8c17-72b83d9c3f9d.htm

It seems the only rule for the class to be recognized as a dummy class carrying namespace documentation is to be named ```NamespaceDoc```.  Then, whether it should be included or not in th

[2017-10-18 17:02] jskeet commented on #952
The class isn't private - it can't be, as it's not a top-level class. It's internal.

[2017-10-18 17:40] bitbonk commented on #952
In SHFB it was a PITA to add concepual documenation and it was not really possible to add additional API documentation. Both is dead easy now in DocFX. I would rather not see the above mentioned ugly SHFB hacks show up in DocFX.

[2017-10-18 21:50] cesarsouza commented on #952
Hi @bitbonk,

I agree that many thinks were a PITA in Sandcastle/SHFB, and that's why many projects are looking towards migrating to DocFx. However, it would be much better if some of the basic features of Sandcastle/SHFB could be supported out-of-the-box by DocFx. It doesn't mean that further updates to the documentation would have to be done in the same way as they had to be done in Sandcastle,

[2017-10-19 02:50] vicancy commented on #2131
Is it helpful to have such syntax `~/a.cs`, where `~` stands for the root folder of `docfx.json`? `~` is a syntax for markdown files supported by docfx, we can support that in this case also.

[2017-10-19 03:01] vicancy commented on #1659
@vwxyzh The remaing work is providing documentation and samples 😄

[2017-10-19 05:04] #1863 closed

[2017-10-19 09:26] bitbonk commented on #952
@cesarsouza I was hoping that migrating `NamespaceDoc` to [overwrite files](https://dotnet.github.io/docfx/tutorial/intro_overwrite_files.html) or something similar would be dead simple.

If it is not, I would rather see a (well documented) migration path that makes more sense.

[2017-10-19 17:52] cesarsouza commented on #2131
Thanks for the answer. I am afraid it wouldn't be that much helpful to me, as it would still be necessary to change all the existing documentation placing a ```~``` at the beginning of the value specification of all ```source``` attributes in the codebase, and I wouldn't be able to generate Sandcastle docs anymore (I still intended to keep both for some time until I manage to add redirects to DocF

[2017-10-19 22:28] willnode opened #2139 "Microsoft.DocAsCode.Dfm (or any) is not depending on System.Composition.AttributedModel"
**DocFX Version Used**: 2.24

**Template used**: Any

**Steps to Reproduce**:

[Same steps with tutorial on documentation](https://dotnet.github.io/docfx/tutorial/howto_customize_docfx_flavored_markdown.html)

**Expected Behavior**:
The plugin should builds.

**Actual Behavior**:
`ExportAttribute` is missing. More info:

[code]
I got stuck in step 7, the `ExportAttribute` is missing. After hours o

[2017-10-20 07:00] vicancy commented on #2131
Hi @cesarsouza, could you share the way to config it in Sandcastle? Maybe that would give us some hint how to support that specific feature in docfx... `src` is used for other purpose.. maybe call it `codeSnippetRoot` ...? (just brainstorming..) cc @vwxyzh @superyyrrzz

[2017-10-20 09:21] vicancy commented on #1963
Hi @tintoy

* Do you think it would be better to add a comprehensive test suites to docfx project before we moving to `AdhocWorkspace`, so that we can have a thorough idea what it supports and what is not, as similar to the test cases in Omnisharp? https://github.com/OmniSharp/omnisharp-roslyn/tree/master/test-assets/test-projects

* Another thing I am doing is investigating the possibility to mig

[2017-10-20 09:26] tintoy commented on #1963
Yep, I agree this would be very worthwhile :)

As for Nustache, we might need to wind up working (or working with someone) to port an existing implementation?

[2017-10-20 09:30] tintoy commented on #1963
(I have a couple of projects I use for testing MSBuild Project Tools that we can use as well)

[2017-10-20 09:32] tintoy commented on #1963
Nustache looks like it would be pretty easy to port, BTW.

[2017-10-20 20:50] tintoy commented on #1963
@vicancy - which bits of Nustache are used by DocFX? I just ported `Nustache.Core`, `Nustache.Compilation`, and `Nustache.Core.Tests` to `netstandard2.0` / `netcoreapp2.0` in less than 15 minutes and they're fine apart from a small fraction of the unit tests that rely on a library ([DynamicExpresso](https://github.com/davideicardi/DynamicExpresso/issues/48)) that itself has not been ported to `net

[2017-10-20 20:50] tintoy commented on #1963
No code changes required, BTW, except to the unit tests (upgraded to NUnit 3, so some attribute / property names in the NUnit framework have changed).

[2017-10-22 18:28] tintoy commented on #1963
BTW, around 4 (out of 285) of the Nustache unit tests don't pass, **but** they don't pass in the original project either. I had to disable one test because it alters a static global that breaks around 20 other tests.

If I can get you a set of packages or a copy of the ported code would you be able to see if it works when plugged into existing DocFX tests?

[2017-10-23 03:09] vwxyzh commented on #1659
Document updated 😄

[2017-10-23 03:26] #1659 closed

[2017-10-23 07:30] vicancy commented on #1963
@tintoy we are using `Nustache.Core`. I created a https://github.com/jdiamond/Nustache/issues/129 asking them about the plan, looks like that project is silent since Oct 10, 2016

[2017-10-23 07:32] vicancy commented on #1963
We can test it with a package of ported Nustache.Core

[2017-10-23 09:20] tintoy commented on #1963
Ok I'll create a myget feed with packages you can use to test.
On Mon, 23 Oct 2017 at 6:32 pm, Liangying.Wei <notifications@github.com>
wrote:

[2017-10-23 12:52] jobubo opened #2142 "Bug: docfx.json is not generated for dotnet core project"
**DocFX Version Used**:  2.26.0

**Template used**: default

**Steps to Reproduce**:

1. Visual Studio > File > New > Projects... ->Viusal C# > .NET Core > ASP.NET Core Web Application
2. Select .NET Core and ASP.NET Core 2.0 in drop down menu, Application Type Web Application -> OK
3. Add docfx.console project via nuget

**Expected Behavior**:
Package is installed, docfx.json created in project r

[2017-10-23 15:36] brianlagunas commented on #1659
Whoot whoot!  Party time!

[2017-10-24 05:58] FSharpCSharp opened #2144 "Function request: PDF Link, as on docs.microsoft.com in the standard template"
On the docs.microsoft.com page there is the possibility to download one PDF per document. It looks something like this:

![docfx](https://user-images.githubusercontent.com/22373356/31926796-1b0f7910-b891-11e7-87f0-ad86a9a61594.JPG)

That's very practical. Therefore I have the wish that this should also be included in the standard template of docfx. The PDF function already exists, and since Micros

[2017-10-24 08:36] vwxyzh commented on #2144
@vicancy, @herohua should we open source the build stack of docs site, instead of the core part?

[2017-10-24 21:09] tintoy commented on #1963
@vicancy - you can pull from https://www.myget.org/F/nustache-netstandard/api/v3/index.json (built against netstandard2.0).

[2017-10-25 01:50] vicancy commented on #2144
@vwxyzh an update to the template is enough. This sounds a pretty general feature request.

[2017-10-25 13:02] oliverangermueller opened #2148 "References between projects"
[Files.zip](https://github.com/dotnet/docfx/files/1414643/Files.zip)
**DocFX Version Used**: docfx 2.22.2.4

**Template used**: default

Hello,

I have a question concerning references between different solutions. It seems that the cref attributes are not resolved.

The attached sample contains two solutions. ClassLibrary1 defines an Interface. ClassLibrary2 contains an implementation of that inte

[2017-10-26 11:32] ashengilevych opened #2154 "Removing excess information in search results [Question]"
Can I customize the search results by removing certain information from there? For example, there is a [page](https://dotnet.github.io/docfx/tutorial/walkthrough/walkthrough_generate_pdf.html)

As a result of the search, there is a block

![screen_1](https://user-images.githubusercontent.com/23631040/32050654-4fe80042-ba5a-11e7-8f2d-5c6677456f40.png)

which corresponds to the following:

![screen_

[2017-10-27 22:06] takerukoushirou opened #2155 "SerializationException if memberpage template is used"
**DocFX Version Used**:
2.26.3 on macOS 10.12, installed via Homebrew (which uses the official release Zip from GitHub and runs DocFX using `mono`).

**Template Used**:
1. `default`
2. `memberpage.2.26.3/content`

**Steps to Reproduce**:
1. Create empty test directory, add new documentation sub-directory.
1. Navigate to documentation directory and run:
  `nuget install memberpage -OutputDirectory

[2017-10-27 22:19] takerukoushirou commented on #2155
**Update**: I tested all previous versions released for `docfx.console` on NuGet, up to 2.24.0, which is the last version where the problem does not occur. The issue appears from version 2.25.0 onwards.

[2017-10-28 22:45] cesarsouza commented on #2131
Hi @vicancy, sorry for the delay in answering. The base path for the relative paths for code source attributes can be configured in the configuration options for the Code Block Component in SHFB:

![image](https://user-images.githubusercontent.com/528455/32139138-896c254e-bc41-11e7-9534-108703c928f4.png)

Those property pages shown above can be accessed by right clicking the SHFB project in VS and

[2017-10-30 02:49] vicancy commented on #2155
Thank you for reporting the issue @takerukoushirou Should be introduced by https://github.com/dotnet/docfx/pull/2070, will fix.

[2017-10-30 03:41] #2155 closed

[2017-10-31 07:26] Romanx commented on #1963
@tintoy If you'd like to open a pull request on Nustache with your changes i'd be happy to look them over and get an official release out

[2017-10-31 12:24] sirjeppe commented on #2072
Hi! Any update on this issue?

[2017-10-31 17:29] daveaglick commented on #1752
I'm seeing this exact same problem when using the MSBuild API, totally unrelated to DocFx:

[code]

And like @jskeet it's not happening locally, only on AppVeyor (which does have Visual Studio Community 2017 15.4 installed). It's also only happening for some projects but not others. It's like for some projects, the `MSBuildToolsVersion` MSBuild property gets set to "2.0" instead of "15.0".

So in

[2017-10-31 19:22] tintoy commented on #1963
Thanks @Romanx :)

I may need to first submit a PR to an upstream project ([DynamicExpresso](https://github.com/davideicardi/DynamicExpresso/issues/48)) used by some of your tests since that doesn't support .NET Standard yet either. But as soon as I can get that done I'll submit the PR. In the meanwhile I can at least fork the original repo for Nustache and apply my changes there (at the moment it

[2017-10-31 20:14] tintoy commented on #1963
Ok - initial port is sitting in https://github.com/tintoy/Nustache/tree/feature/netstandard. Would you mind having a poke-around the project to see what you think before I open a PR, @Romanx?

There are a couple of tests (around Sections) that fail, but as far as I can tell, they failed before the port, too (had to upgrade to a more recent version of NUnit, among other changes).

[2017-11-01 07:34] Romanx commented on #1963
@tintoy I'll have a look later today and see whats up with those tests.

[2017-11-01 20:34] #2115 closed

[2017-11-01 21:43] icnocop opened #2167 "DocFx VS Code extension preview doesn't show line breaks within a table cell"
**DocFX Version Used**:
Visual Studio Code 1.17.2
DocFX Extension 0.1.0

**Steps to Reproduce**:

1. Create a new markdown file.
2. Insert the following
[code]
3. Preview the file

**Expected Behavior**:
I expected that "test a" and "test b" appear on separate lines.

**Actual Behavior**:
"test a" and "test b" appear on the same line.

Side note: Even though the preview displays them on the same l

[2017-11-02 12:11] nstvsn opened #2169 "Register and report dependency type, is there full example?"
Hi!
I'm sorry for that, let me ask you please about custom dependency type?
I could not understand how to work with it. Existing example shows how to register a custom type, but what is the next step? Maybe you have some full examples which can help me (or maybe others) to get it work?

Sorry and thank you in advance.

[2017-11-02 12:18] tobiasbunyan commented on #1516
Interestingly, if your base class inherits an interface, the derived class will get the interface documentation.  This caused me a problem as the Interface had no documentation, meaning that it looked like inheritdoc simply wasn't working.

The example below results in Class2 having 'this is interface1' as its class summary, and no documentation at all for the overridden 'SomeMethod'.

[code]

[2017-11-03 15:39] Romanx commented on #1963
@tintoy I just checked out the repo. Seemed to work when I ran all the tests. Which are you finding don't seem to work?

[2017-11-03 20:14] tintoy commented on #1963
@Romanx - was that on the `feature/netstandard` branch? These ones fail or are inconclusive / skipped for me:

![failing tests](https://user-images.githubusercontent.com/1646284/32394000-c5650d52-c12f-11e7-98c9-4db77d7df805.jpg)

[2017-11-04 08:06] mellinoe commented on #1752
Could we get a summary of the appropriate hack to be using here? I've followed a couple of tips above, but they aren't actually working (as others have already replied).

Unless I'm missing something, this is a pretty fundamental scenario that isn't working. I'm not trying to do anything unusual, I just have a bog standard netstandard2.0 library that I added to a blank "`docfx init`" project...

[2017-11-04 12:25] Romanx commented on #1963
@tintoy it's quite probably I derped and wasn't on the right branch. Let me confirm again 👍

[2017-11-07 20:19] anpete opened #2176 "Are Git submodules supported when including code?"
I'm getting the following error when trying to include code that is coming from a submodule:

[code]

[2017-11-08 06:45] superyyrrzz commented on #2176
Close as it's an OPS issue.

[2017-11-08 06:45] #2176 closed

[2017-11-08 21:39] firelizzard18 opened #2179 "Docfx does not produce useful error messages on exceptions"
**DocFX Version Used**: 2.26.4.0

**Template used**: default

**Steps to Reproduce**:

1. Do something that causes an internal exception

**Expected Behavior**:

Docfx outputs something that can be used to diagnose the issue.

**Actual Behavior**:

Docfx outputs `Exception.Message`.

**Details**

I am trying to build documentation for a large collection of mostly .NETStandard libraries. All of my

[2017-11-08 21:40] firelizzard18 commented on #2179
`--logLevel Verbose` does not help

[2017-11-09 02:09] vicancy commented on #2179
Hey @firelizzard18 Could you provide the test projects for me to take a look?

[2017-11-09 05:32] firelizzard18 commented on #2179
In this issue I'm simply requesting that a more useful error message be presented in the case of an exception. A stack trace might be informative.

I'm still in the process of determining the root cause of the exception. I have isolated the issue to a single project, but unfortunately I'm not at liberty to share it.

[2017-11-09 07:29] Romanx commented on #1963
@tintoy I've worked out what the change was that caused the test failures. One is that the changing to use Json.Net returns the object in a different format to the `JavascriptSerializer` and the other is that originally it was pulling the data from the submodule specs. After refactoring the folder structure the pathing was off so you added the specs to the repo which are now different to the submo

[2017-11-09 07:30] tintoy commented on #1963
@Romanx - thanks, that'd be awesome!

[2017-11-10 00:10] jahav opened #2182 "Navbar takes up all space on page"
I wanted to fix a few typos in the docs so I forked project, created branch and then tried to build docs using DocFX. The resulting documentation is unusable for browsing in localhost:8080.

I followed directions from
https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md#windows-instructions

**DocFX Version Used**:
docfx 2.27.0.0

**Template used**: (`default` or `statictoc` or contain custo

[2017-11-10 02:18] vicancy commented on #2182
Hi @jahav, for `docs` repo, the general suggestion is to run `powershell openpublishing.build.ps1` for local build. For docfx's `default` template, it takes the first level `toc.yml` as the navbar which makes it unreadable. `openpublishing.build.ps1` will do some configuration for you so that it uses `docs` specific template to render the page.

[2017-11-10 21:24] jahav commented on #2182
Thanks for the advice about openpublishing.build.ps1, unfortunately it ends up with an error (possibly private repo).

That is an issue for dotnet/docs repo, fixing navbar is this issue (most of front page links are still 404, but when I navigate to areas I am interested, it works there).

[2017-11-11 15:10] jahav opened #2189 "xrefmap sorted property doesn't work correctly in different culture"
The xrefmap file has a property **sorted** uids according to English/Invariant culture. When **sorted** is set true and locale is set to Czech, it behaves incorrectly (at least that is what I think is the cause).

The Czech alphabet has an extra two letter "ch" that is between h and i, so goes like this: a,á,b,c,č,d,ď,e,é,ě,f,g,h,ch,i.

When I have a xrefmap that is correctly sorted according to e

[2017-11-13 05:56] thanasip opened #2190 "Arithmetic Overflow Exception when DocFx tries to incorrectly cast the upper bound of a property with a Range attribute to an int, when it is greater than int.MaxValue"
**DocFX Version Used**: 2.26.3

**Template used**: default

**Steps to Reproduce**:

1. Create a property with a range attribute whose upper bound is > int.MaxValue
2. Attempt to build documentation (Metadata is generated, docs fail to build)

**Expected Behavior**: That DocFx should correctly recognise that the value is greater than int.MaxValue and not attempt to cast it to an int

**Actual Beha

[2017-11-15 05:23] chuck-flowers opened #2194 "Docfx.console specifiable location for metadata"
I think it would be nice if the docfx.console package made the output location of the metadata configurable. Currently it generates the api folder in the same directory as the csproj.

I'd like to move it out of this directory and to another directory but I can't because it appears the targets file for the operation uses the OutputFolder property as the location for the metadata files.

All I'd li

[2017-11-16 12:58] crazyfx1 opened #2203 ""Spacers" in toc.md break filter search in TOC"
**DocFX Version Used**: 2.26.3

**Template used**: default

**Steps to Reproduce**:

In toc.md I use empty links as spacers to separate the list:

[code]

**Expected Behavior**:
Filtering still works.

**Actual Behavior**:
Filtering throws JavaScript error.

[2017-11-17 07:22] #2203 closed

[2017-11-19 15:38] superyyrrzz opened #2207 "Word wrap needed on side bar titles"
docascode/docfx-seed/issues/22

[2017-11-20 10:13] estoeva opened #2211 "generate different file extension than HTML for the generated documentation"
**DocFX Version Used**:
The newest version
**Template used**: (`default` or `statictoc` or contain custom template)
default
**Steps to Reproduce**:
-----

**Expected Behavior**:
Generate files with aspx extension instead of html

**Actual Behavior**:

[2017-11-21 12:59] jhermsen commented on #2142
This is related to some changes in NuGet where content is replaced by contentFiles and requires changes in nuspec.
Here I found related specification.
https://github.com/NuGet/Home/wiki/%5BSpec%5D-Content-v2-for-project.json

[2017-11-22 07:16] jhermsen commented on #2142
Did some testing and this new structure isn't going to work. NuGet stopped supporting untracked files, meaning files are only referenced in the project adding the package.

Tried looking for some solution, but it looks like the only way would be to use the msbuild targets to run a script prebuild to copy the files if docfx is missing.

[2017-11-22 13:02] Fuzzylog1cza commented on #157
From what I can see there hasn't been a lot of movement in supporting TypeScript. Has this idea been dropped or is it just a time thing?

[2017-11-23 00:28] tintoy opened #2218 "What happened to "jsref" plugin?"
Hi - it looks to me like the `jsref` plugin was removed in #2178.

Has this moved somewhere else, or is it no longer supported? If it's no longer supported, is there an alternative for getting JavaScript reference docs into DocFX?

[2017-11-23 02:07] vicancy commented on #157
For supporting TypeScript,
* [ ] 1. https://github.com/docascode/type2docfx to convert it to YAML
* [ ] 2. Add template to support it

[2017-11-23 02:13] vicancy commented on #2218
Hi @tintoy are you using `jsref` plugin currently?

[2017-11-23 02:15] tintoy commented on #2218
I was about to start using it - we've used typedoc with a converter for Typescript but it doesn't like plain JS... :)

[2017-11-23 02:15] tintoy commented on #2218
Is it being removed because nobody was using it?

[2017-11-23 02:18] vicancy commented on #2218
We are consolidating different languages into going through one UniversalDocumentProcessor, including TypeScript(https://github.com/docascode/type2docfx), JavaScript(https://github.com/docascode/Node2DocFX), and Python(https://github.com/docascode/sphinx-docfx-yaml)... The only thing missing now is a default template... which @superyyrrzz is focusing on currently...
And yes, `jsref` is removed bec

[2017-11-23 02:19] tintoy commented on #2218
Ah missed the Node one, that'll do nicely! Thanks :)

[2017-11-23 02:22] vicancy opened #2220 "Consolidating languages support to UniversalDocumentProcessor"
We are consolidating different languages into going through one UniversalDocumentProcessor, including TypeScript(https://github.com/docascode/type2docfx), JavaScript(https://github.com/docascode/Node2DocFX), and Python(https://github.com/docascode/sphinx-docfx-yaml)...
* [x] 1. A template for UniversalDocumentProcessor
* [ ] 2. Intuitive tutorial/guidance on how to enable the feature
  * [x] JavaS

[2017-11-23 02:23] vicancy commented on #2218
Create a task for this https://github.com/dotnet/docfx/issues/2218

[2017-11-23 02:24] #2023 closed

[2017-11-23 06:59] vicancy commented on #2142
Hi @jhermsen Thanks for the investigation, I am going to call `docfx init` first if `docfx.json` is not detected in the project... `docfx init` need to be enhanced to allow parameters to specify the input projects and output folder

[2017-11-23 07:01] Fuzzylog1cza commented on #157
Thank you. I'll do some digging for a template or see about contributing one.

[2017-11-24 02:56] #2218 closed

[2017-11-24 03:03] agc93 commented on #138
@tintoy Not strictly Mustache, but Handlebars.Net supports .NET Standard as a starting point

[2017-11-24 05:13] #2085 closed

[2017-11-24 05:14] vicancy commented on #2045
Please feel free to reopen it if the problem insists after removing the extra `src/` in glob pattern

[2017-11-24 05:14] #2045 closed

[2017-11-24 05:16] vicancy commented on #1963
Hi @Romanx Any progress 😄 ?

[2017-11-24 05:23] vicancy commented on #1963
Hi @tintoy I'd like to move forward with the `AdhocWorkspace` approach. Theoretically it can resolve #1752 & #138 if I am understanding correctly, is it? And after this approach, I plan to setup some CI to test it under different environment.
It would be fantastic if you could create an PR with this approach. 😄

[2017-11-24 05:46] tintoy commented on #1963
Ok - I'm about to go camping for the weekend but I'll get onto it early next week :)

[2017-11-24 07:40] Romanx commented on #1963
@vicancy We're having issues with the changed tests not working on @tintoy's environment and working on mine. Hoping to find some time this weekend to get to it

[2017-11-26 17:13] tintoy commented on #1963
@vicancy have a look at 6864ff239daac7bbc54c545a07811c112df182da - that should give you an idea of the scope of changes I have to make (it compiles but I haven't tried any of the tests yet).

[2017-11-26 17:19] tintoy commented on #1963
Actually, I'm thinking I might create extension methods for `AdhocWorkspace` to emulate the old OpenProjectAsync APIs. What do you reckon?

[2017-11-26 17:22] tintoy commented on #1963
Turns out `AdhocWorkspace` is mutable and therefore may not be thread-safe. Will investigate :)

[2017-11-26 17:27] tintoy commented on #1963
Ok turns out it's thread-safe.

[2017-11-27 03:05] vicancy commented on #2211
May I ask the background for using `aspx` for static html files? @estoeva

[2017-11-27 09:46] estoeva commented on #2211
Hello,
we want to put our documentation site directly on share point. If we use html extension, when the files is opened it is not displayed as web page, instead, a source is displayed. If the extension is aspx, the page is displayed as in a web browser.
Meanwhile  I successeded to change the extension using templates, just changing the name of the template file from html to aspx, BUT links is not

[2017-11-27 13:35] JeremyTCD opened #2235 "No Artifacts folder generated on build"
**DocFX Version Used**: v2.27

**Steps to Reproduce**:

1. Clone docfx
2. Checkout v2.27
3. Run build.cmd (following instructions [here]( https://dotnet.github.io/docfx/tutorial/docfx_getting_started.html#5-build-from-source-code))

**Expected Behavior**: Artifacts folder generated.

**Actual Behavior**: No artifacts folder generated.

[2017-11-28 02:22] tintoy commented on #1963
@vicancy would you mind pulling down the latest code from my fork and running the tests? There are a couple I don't understand well enough to work out why they are failing... It's the `feature/netstandard` branch.

[2017-11-28 03:02] vicancy commented on #1963
@tintoy Sure, I will take a look

[2017-11-28 03:10] vicancy commented on #2211
Is https://stackoverflow.com/questions/11501462/static-html-page-as-sharepoint-page an alternative approach?
Currently there seems no easy way to change the extension, as we only resolve links when extension is html, yeah, that's an issue, and we have to design a way to solve that.

[2017-11-28 03:17] vicancy commented on #2235
Hi @JeremyTCD I can't repro locally and CI is also running well. Could you run `build.cmd > log.txt` and provide me the log.txt?

[2017-11-29 04:49] JeremyTCD commented on #2235
Hmm I cloned a fresh copy and ran build.cmd again, still no artifacts folder. This is my log:
[log.txt](https://github.com/dotnet/docfx/files/1512567/log.txt). Thanks

[2017-11-29 05:47] vicancy commented on #2235
Took a look at the log.txt, the test failures are caused by https://github.com/dotnet/docfx/issues/1969 , run `build.cmd` from *Developer Command Prompt for VS2017* can probably workaround the test failure.

[2017-11-29 05:47] #2235 closed

[2017-11-29 09:24] vicancy commented on #1963
Hi @tintoy Can build pass with the `feature/netstandard` branch? Mine can't pass build, looks like `System.Runtime.Remoting.Lifetime;` is not available in `netstandard`.
![image](https://user-images.githubusercontent.com/668244/33367600-22ba5c24-d52a-11e7-9b4d-303eeb7b4cb3.png)

[2017-11-29 09:57] tintoy commented on #1963
Which project was that? I didn't see any build errors but I was just running tests from within VS. I'll have a look at that first thing tomorrow, should be easy to fix either way.

[2017-11-29 13:42] evil-shrike opened #2244 "Should docfx work with netcoreapp2.0 projects?"
**DocFX Version Used**:  2.27.0

I haven't found any notes about flavors of .NET that supported so I'm assuming that docfx support .net core projects. But I can't get it working.
When I run `docfx metadata` against some `*.csproj` I'm getting the following:
[code]

While there's a xmldoc file in the project ('Server.NetCore\WebServer\bin\Debug\netcoreapp2.0\Croc.XFW3.Web.xml')
D:\Work\R-n-D\XFW3_W

[2017-11-29 14:49] tintoy commented on #1963
I haven't tried porting the main executable yet, only the libraries it depends on. The exe will take some more work because it currently relies on Appdomain but I do have a proposed design that will work cross-platform. In the meanwhile, would you mind trying to run the unit tests ignoring that executable build error?

[2017-11-29 15:27] tintoy commented on #1963
BTW, am I correct in assuming that use of Appdomains is mainly to control base path for loading assemblies? If so, `AssemblyLoadContext` is the replacement.

[2017-11-30 05:14] vicancy commented on #1963
@tintoy `AppDomain` is to isolate assemblies loaded from `plugins`. We are thinking of creating a new process instead.

[2017-11-30 05:51] vicancy commented on #2244
https://github.com/dotnet/docfx/issues/1752, we are working on resolving it.

[2017-11-30 05:55] evil-shrike commented on #2244
6 months? 😕

[2017-11-30 06:04] vicancy commented on #2244
@evil-shrike On-hold for a long time for lack of resource..... Have time working on that now... 😄

[2017-11-30 06:04] tintoy commented on #1963
Yep that'd be the way :)

They can communicate over STDOUT / STDIN (have code that does this in an
LSP language service that might be helpful). Were you able to run the tests
if you ignore the build error in that project?

On Thu, 30 Nov. 2017, 4:14 pm Liangying.Wei, <notifications@github.com>
wrote:

[2017-11-30 06:09] vicancy commented on #1963
@tintoy I changed `docfx` and `docfx.test` projects back to use `base.props` and can pass build now. I am running test and meet some runtime assembly loading errors. I am looking into it.

[2017-11-30 06:09] evil-shrike commented on #2244
It's a good news ) . Feel free to close as a dup then. Thnx.

[2017-11-30 18:32] tintoy commented on #1963
BTW, here is one way to use an external process to handle assembly loading:

https://github.com/tintoy/msbuild-project-tools-server/tree/master/src/LanguageServer.TaskReflection

Called from here:
https://github.com/tintoy/msbuild-project-tools-server/blob/master/src/LanguageServer.SemanticModel.MSBuild/MSBuildTaskScanner.cs

[2017-12-01 04:06] vicancy commented on #1963
Hi @tintoy I also meet several kind of ut failures with your changes. However that branch is quite behind the latest branch and contains a lot of changes. I'd like to make small moves step by step for easy debugging and code review, so I am cherry-picking your changes and sending out PR for every commit.

[2017-12-01 04:06] #1752 closed

[2017-12-01 04:17] #2194 closed

[2017-12-01 04:17] #2189 closed

[2017-12-01 04:17] #2190 closed

[2017-12-01 04:17] #1969 closed

[2017-12-01 04:19] vicancy commented on #2244
Should be fixed in 2.28.1

[2017-12-01 04:19] #2244 closed

[2017-12-01 10:45] andreycha opened #2254 "[Question] How to customize/hide content in API documentation?"
Hi.
We introduce API documentation in our systems and would like to strip out some of the information. We have POCO classes, so basically we don't need following information:

- `Inheritance` chain
- `Implements` block
- `Inherited Members` block
- `Syntax` for classes
- `Property Value` block
- `Declaration` for members

I was able to exclude some of this information (namely members inherited fro

[2017-12-01 15:02] andreycha opened #2255 "Extra %dest% folder is created"
**DocFX Version Used**: 2.28

**Template used**: default

**Steps to Reproduce**:

1. Run docfx.exe from the different directory where docfx.json is located, for instance:
`C:\>docfx D:\docfx-seed\docfx.json`

**Expected Behavior**:
%dest% folder is created in `docfx-seed` directory.

**Actual Behavior**:
%dest% folder is created in `docfx-seed` directory and in `C:\`.

If this is some kind of tem

[2017-12-01 17:55] lucas-natraj opened #2257 "docfx build does not process metadata from dlls"
**DocFX Version Used**:
2.28.1.0

**Template used**:
default

**Steps to Reproduce**:
1. create a new docfx project
2. copy some `dll + associated xml doc file` into the `src` folder
3. docfx.json file should have `metadata.src.files: ["src/**dll"]`
4. docfx build

**Expected Behavior**:
documentation generated

**Actual Behavior**:
`docfx build` does not process the specified files.
Note: `docfx

[2017-12-01 18:06] lucas-natraj commented on #2257
my mistake.. didn't realize that the build command is expected to process already extracted api files..

[2017-12-01 18:06] #2257 closed

[2017-12-01 22:51] sandersaares opened #2258 "Feature proposals link in readme goes to error page"
Clicking the "Feature Requests" link in the readme takes me to the following error page:

![image](https://user-images.githubusercontent.com/9914262/33506990-19d49c9a-d6a7-11e7-9277-af02522ea1bd.png)

[2017-12-04 01:30] superyyrrzz commented on #2258
Seems feathub is not available at that time and it's fine now. Can you have another try?

[2017-12-04 02:07] sandersaares commented on #2258
Yep looks like it works fine now.

[2017-12-04 02:07] #2258 closed

[2017-12-04 13:35] andreycha commented on #382
Is there a more generic way to do this? I mean without marking every protected members with `[EditorBrowsable]` attribute? Smth like:

[code]

Combined with `uidRegex` this could solve the issue without touching the source code.

As a side note, DocFx currently exposes protected members even for sealed classes. I think in this case they can be safely skipped.

[2017-12-04 13:37] andreycha commented on #2254
So I was able to remove these sections using custom `class.header.tmpl.partial` and `class.tmpl.partial` files. But if there is a way to not generate corresponding metadata at all, please let me know.

[2017-12-04 15:12] Jjagg opened #2262 "MSBuildLocator does not support Linux"
I'm running Arch Linux x86_64 with kernel 4.13.12-1.

**DocFX Version Used**: docfx.console.2.28.1

**Steps to Reproduce**:

1. `mono tools/docfx.exe init -q`
2. `mono tools/docfx.exe docfx_project/docfx.json`

**Expected Behavior**:

The website is built.

**Actual Behavior**:

I get a PlatformNotSupportedException. Here's the stacktrace:
[code]

[2017-12-05 13:37] andreycha commented on #1969
I'm experiencing the same issue again after [latest upgrade of VS2017 (15.5.0)](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes#15.5.0). DocFx version is 2.28.0.

If I use 2.28.1, I get different error:

[2017-12-05 14:46] rebrovoleksii commented on #2072
Could you please advise what template I should modify to get definitions into generated documentation? I've exported default.pdf template. Is it _exported_templates\pdf.default\partials\rest.child.tmpl.partial file? If yes what  variables should I use from RestApi.common.js ?

[2017-12-05 15:33] andreycha opened #2265 "Metadata generation is broken after upgrade to VS 2017 15.5"
Hi,

I've updated Visual Studio 2017 to the [latest update](https://www.visualstudio.com/news/releasenotes/vs2017-relnotes#15.5.0) (15.5.0) and started to get new warnings when building metadata. As a result, no API documentation is generated.

This is obviously not DocFX issue itself, but since DocFx depends on MSBuild...

**DocFX Version Used**: 2.28.1

**Template used**: default

[2017-12-06 01:46] vicancy commented on #2265
Hi @andreycha any special to `test.csproj`? would you mind sharing with me the test project?

[2017-12-06 01:56] vicancy commented on #2265
According to https://github.com/Microsoft/msbuild/issues/2775, looks like it's time for docfx to update MSBuild references

[2017-12-06 09:17] andreycha commented on #2265
Sorry, this is a proprietary code, I just masked paths and project name. But the very same issue I also have with [docfx-seed](https://github.com/docascode/docfx-seed) project.

[2017-12-06 09:32] #2254 closed

[2017-12-06 09:43] mmunchandersen commented on #2265
@andreycha according to https://github.com/Microsoft/msbuild/issues/2775 just "Upgrade Microsoft.Build to v15.5". I don't know how to upgrade msbuild (do you?)

[2017-12-06 09:45] andreycha commented on #2265
@mmunchandersen it should be updated in DocFx, see https://github.com/dotnet/docfx/pull/2267. So I'll just wait for the new version.

@vicancy the only thing bothering that it's already the second case in a short period of time when DocFx breaks after VS update...

[2017-12-06 13:30] jskeet commented on #2265
I've reproduced this just now. 3 files:

StaticMethod.csproj:

[code]

Class1.cs:

[code]

docfx.json:

[code]

Run `docfx metadata`:

[code]

[2017-12-06 13:52] aktzbn opened #2270 "[Question] docfx project with git under tfs"
I'm trying to create `docfx` project. Sources are hosted on `TFS` server in `GIT` repository.

Everything is ok except absence of __Improve this Doc__ link.

Is there way to make this link appear and work for such configuration?

[2017-12-06 15:43] superyyrrzz commented on #2270
@aktzbn Can you give a sample of what the URL of a specific file on TFS server looks like?

If the URL is like github or vsts, `_gitUrlPattern` config will work for you. If not, this will be a feature request.

[2017-12-06 17:16] aktzbn commented on #2270
Something like this http://HOST:8080/tfs/COLLECTION_NAME/PROJECT_NAME/_git/REPO_NAME.

[2017-12-07 02:52] #2265 closed

[2017-12-07 02:52] #1856 closed

[2017-12-07 02:52] #2262 closed

[2017-12-07 03:13] vicancy commented on #2265
Hi @andreycha Yes I totally understand your concern, I am now setting up CI jobs https://github.com/docascode/docfx.test to test `docfx metadata` against different projects on different platforms, to catch potential issues beforehand.. Please feel free to let me know your concerns and suggestions.

[2017-12-07 03:57] vicancy commented on #2265
2.28.2 should've fixed the issue

[2017-12-07 04:09] vicancy commented on #2262
Try latest 2.28.2

[2017-12-07 04:10] vicancy opened #2272 "docfx metadata new SDK projects fails under mono 5.6.X"
Workspace failed with: [Failure] Msbuild failed when processing the file 'E:\Repo2\docfx.test\test-projects\CSharpAndVBasic\csharp-console\csharp-console.csproj' with message: C:\Program Files\dotnet\sdk\2.1.2\Sdks\Microsoft.NET.Sdk\build\Microsoft.PackageDependencyResolution.t
argets: (327, 5): The "ReportAssetsLogMessages" task failed unexpectedly.
System.TypeLoadException: Could not resolve typ

[2017-12-07 04:16] Jjagg commented on #2262
Thanks! Gonna try this asap :)

[2017-12-07 09:21] #2255 closed

[2017-12-07 09:21] #2272 closed

[2017-12-07 10:26] b-kurczynski opened #2277 "NullReferenceException when using MergeOverride plugin (momd plugin)"
### Title
When attemting to use MergeOverride plugin a NullReferenceException is thrown during processing of the source files.

### Functional impact
The plugin cannot be used so I cannot generate a merged source code documentation where part of the documentation source is in the code and the rest is in .md override files.

### Minimal repro steps
1. Create simple ConsoleApp project or use an exis

[2017-12-07 13:12] Jjagg commented on #2262
Working :) Thanks for the quick fix!

[2017-12-07 14:47] scirneanu opened #2278 "Improve this Doc Button Issue"
I have a project developed using the DocFX framework. The project is hosted in GitHub: one branch for the DocFX specific files and second branch for the generated files after building the project. The second branch is connected with GitHub Pages which is used to host the project.

The issue is that when I access the project from my custom domain, the button Improve this Doc is opening an undefined

[2017-12-07 23:26] pumaloso opened #2279 "Cannot generate documentation"
**docfx 2.28.1.0**:

**Template used**: 'default'

**Steps to Reproduce**:

1. Using this docfx.json:
`{
  "metadata": [
    {
      "src": [
        {
          "files": [
            "FunctionalTests.csproj"
          ],
          "exclude": [
            "**/obj/**",
            "**/bin/**"
          ],
          "cwd": "../../FunctionalTests"
        }
      ],
      "dest": "api"
    }
  ],

[2017-12-08 00:12] JimBobSquarePants commented on #1969
I'm trying to use docfx v2.28.1.0 against Visual Studio Enterprise 15.5 and hitting the following error. Is this related?

[code]

[2017-12-08 01:16] vwxyzh commented on #2279
#2265

[2017-12-08 01:43] pumaloso commented on #2279
Fixed!!!
Thanks.

[2017-12-08 01:43] #2279 closed

[2017-12-08 02:52] vicancy commented on #1969
@JimBobSquarePants Yes, please update to 2.28.2

[2017-12-08 03:03] Jjagg opened #2283 "xrefService for .NET BCL"
If I understood the docs right, it should be possible to use the xrefService element to look up .NET library classes by adding the following to `build` in `docfx.json`.
[code]

docfx manages to build the project without any errors/warnings, but in my API reference .NET types do not link to their respective reference pages. Am I missing someting or is this an actual bug?

**DocFX Version Used**: 2.

[2017-12-08 03:09] JimBobSquarePants commented on #1969
Thanks @vicancy FYI Chocolatey  was installing 2.28.1 3 hours ago.

[2017-12-08 03:26] vwxyzh commented on #2283
@Jjagg I think the config is correct.
Can you give me a reproduce repo?

[2017-12-08 03:46] Jjagg commented on #2283
Yes, I'll set one up :)

[2017-12-08 07:36] Jjagg commented on #2283
@vwxyzh Reopening because it's definitely a bug, rather than me messing up.

Here's a repro-repo: https://github.com/Jjagg/docfx-xrefService
This seems like a very specific issue. When I override `Equals(object)`, `System.Object` is not properly linked. In the reproduction, if you comment out the `Equals(object)` method from the Class1.cs file it will work as it should and link to the `System.Obje

[2017-12-08 08:40] vwxyzh commented on #2283
@Jjagg Something wrong in metadata step:
you can found the comment id is an error type: `!:System.Object`
[code]

[2017-12-08 15:36] Jjagg commented on #2283
I'll have a stab at fixing this. If anyone can give me some pointers as to where the issue might be and maybe about the general structure of docfx, that would be much appreciated :)

[2017-12-09 00:36] Jjagg commented on #2283
Further experimentation indicates the `System.Object` item is put in the metadata file for `Class1` whenever it is present in its public API (except for the inheritance). In the succesful case, there is no `System.Object` item in the metadata file.

Seems like it tries to resolve the `System.Object` reference locally in the metadata step while it shouldn't. Because this leaves an item in the metad

[2017-12-09 17:22] andreycha commented on #2265
@vicancy having build configuration on Windows with latest VS 2017 sounds good 👍 .

[2017-12-10 04:39] lextm opened #2284 "docfx.console NuGet package does not work well with a class library with multiple items in <TargetFrameworks>"
**DocFX Version Used**: 2.28.2

**Template used**: `default`

**Steps to Reproduce**:

1. Create a .NET Standard Class Library project and modify its `<TargetFrameworks>` tag to use multiple values like `netstandard1.3;net452`.
2. Add `docfx.console` NuGet package to this project.
3. Create a `docfx.json` file to include the following information,
[code]
**Expected Behavior**:
The documentation sh

[2017-12-10 21:18] smaillet commented on #2284
I found that if I change the VS build settings to disable parallel builds I can get past the log.txt in use problem.  However, there are still blocking issues. (The API YML files end up in an _Api folder despite having no mention of such a thing in the docfx.json file, so it gets warning that ti is unable to find the toc.yml or toc.md file and ends up with no docs in the final output...)

(DOCFX j

[2017-12-10 21:27] smaillet commented on #2284
As an alternative to forcing single threaded builds I realized you can add the following property to your project:
[code]
This creates a unique log file name for each TargetFramework and therfore they don't collide. Still, a pretty
bad user experience but at least it works.

If you don't disable the default inclusion "globs" then the log files wll become part of your project in VS so you may want

[2017-12-10 21:28] lextm commented on #2284
@smaillet the `toc` warning you got is desired and not related to this file lock issue. That's caused by the "version" parts I used in the `docfx.json`. If you rip out all "version" related parts, then together with your workaround, the build can be successful.

[2017-12-10 21:53] Jjagg opened #2285 "Option to not sort Enum values"
**DocFX Version Used**: docfx 2.28.2.0

I'm letting docfx extract the metadata for my API reference from a .csproj. In the API reference all members are sorted. That's great, but I'd like enum values to stay in the original order as it makes more sense that way.

Is there currently a possible work around or extension to achieve this?

[2017-12-10 21:58] smaillet commented on #2284
@lextm - I don't follow that version comment, I'm not building your sample, I'm using my own and I do see that toc warning and the _api folder being generated despite not having any such references. So, yes the warning is legit, however the tool shouldn't be getting into a state where that warning triggers.

In your case you aren't doing a merge, in mine I am, following the [comment on Github](htt

[2017-12-10 23:03] lextm opened #2286 "Merge section in docfx.json does not support more than one merge operation"
**DocFX Version Used**: 2.28.2

**Steps to Reproduce**:

I am combining two C# projects into a single web site, so I use the following `docfx.json`,
[code]
Then I can use the following to merge the documents for sharpsnmplib,
[code]

**Expected Behavior**:
I should be able to specify another merge operation, to merge metadata for sharpmibsuite.

**Actual Behavior**:
I cannot use multiple "merge" s

[2017-12-10 23:06] lextm commented on #2284
@smaillet Thanks for mentioning the merge operation. I did a quick test but hit another bug #2286 .

Overall, this tool can work in simplest setup, but can break if you really touch the edges. Not surprising, but just hope the issues can be fixed soon.

[2017-12-11 02:47] vicancy commented on #2285
makes sense. I think code change is needed. @vwxyzh Any idea?

[2017-12-11 03:11] lextm opened #2289 "Merge operation is broken"
**DocFX Version Used**: 2.28.2

**Expected Behavior**:
The merge operation should work flawlessly.

**Actual Behavior**:
The patch in #2221 needs to be applied once again.

Except that you might need to review the changes I made in #2288, as even with #2221 applied the merge operation won't work.

The result file path set in merge operation is also incorrect based on my investigation. I tried to a

[2017-12-11 05:00] aktzbn commented on #2270
It seems that I'm not alone https://stackoverflow.com/a/47712589/2064680.

Any news on this?

[2017-12-11 06:15] superyyrrzz commented on #2270
As TFS is somehow like self hosted VSTS, their URL looks in same pattern. You can try add the following section into `docfx.json`:
[code]

[2017-12-11 08:14] aktzbn commented on #2270
Did not help.

[2017-12-11 08:19] aktzbn commented on #2270
It works now. Thank you.

[2017-12-11 13:02] pascalberger opened #2292 "Addin for diagrams support"
An addin which adds support for writing diagrams would be nice (e.g. by using [mermaid](https://mermaidjs.github.io/))

[2017-12-12 02:15] vicancy commented on #2286
Thank you @lextm for the detailed issue description and the PR, I will take a look.

[2017-12-12 04:00] hellosnow commented on #2072
@rebrovoleksii it should be _exported_templates\pdf.default\partials\rest.child.tmpl.partial we need to update for, the "definition" object is defined in child of RestApi.common.js. @vicancy to confirm.

[2017-12-12 04:07] vicancy commented on #2072
Hi @rebrovoleksii yes, it is the `rest.child.tmpl.partial` file. And to render complex type, for complex type, the type is actually inside the model however not rendered. You can use `docfx build --exportViewModel` to view the model waiting for applying template. Take `body` from [updatePet](http://docascode.github.io/docfx-seed/restapi/petstore.html#petstore_swagger_io_v2_Swagger_Petstore_1_0_0_u

[2017-12-12 04:12] vicancy opened #2297 "docfx watch"
Monitor web page request, build the page with its dependencies.

[2017-12-12 04:14] vicancy opened #2298 "Create more attractive themes as similar to other static website generator"
[Gain 30 upvotes from feathub feature request dashboard.]
For example:
hexo: https://hexo.io/themes/

Related: https://github.com/dotnet/docfx/issues/1862

- [x] Typescript and scss
- [x] Visual regressing testing
- [x] Clean scripts and stylesheets
- [x] Bootstrap 5
- [x] Dark theme
- [x] Update docs to use modern template
- [x] .NET API affix
- [x] Tabbed conceptual dark mode
- [x] ~~Scrollspy~~

[2017-12-12 04:15] vicancy opened #2299 "Better support for versions in docfx"
From end to end

[2017-12-12 11:15] evil-shrike opened #2303 "docfx metadata crashes with "The given key was not present in the dictionary""
**DocFX Version Used**:
2.28.3

**Template used**: (`default` or `statictoc` or contain custom template)
`default`

Run
`docfx metadata ./docfx.json`

Getting "The given key was not present in the dictionary":
[code]

The error "The given key was not present in the dictionary" happens with some combination of proejcts, I couldn't find a single project which makes it happens.

[2017-12-12 11:28] evil-shrike opened #2304 "docfx doesn't generate yaml for projects"
**DocFX Version Used**:
2.28.3

**Template used**: (`default` or `statictoc` or contain custom template)
`default`

I have a bunch of projects in docfx.json (metadata/src/files). Some of projects target net462 and netcoreapp2.0 some of them only netcoreapp2.0.
I run `docfx metadata`, it reports no errors.
But for some project docfx reports "does not contain any documents" while isn't the case (pro

[2017-12-12 11:30] evil-shrike commented on #2244
It's not seem to work, please see #2304 #2303

[2017-12-12 13:03] xxcuratorxx commented on #2117
Hi,

I tried to implement my request with the upper link. This solved my first problems.

However, additionally I have an csproj with many files that are distributed among different folders in the project, but have the same namespace. No I want to include only files of one subdirectory.

I havn't found a way to do so with the api rules, but one way is to refer to *.cs files rather that *.csproj fi

[2017-12-12 13:26] andreycha opened #2305 "Do not show Parameters and Returns if there are no corresponding tags in comments"
**DocFX Version Used**: 2.28.2

**Template used**: default

I have following code:

[code]

Here is what generated and displayed in API docs:

![image](https://user-images.githubusercontent.com/1696046/33886722-cc76e12a-df47-11e7-8904-c6fd6a295f04.png)

The thing is that I deliberately omitted `<param>` and `<returns>` tags, and I'd expect them not showing in docs as well.

Please consider removin

[2017-12-12 13:30] andreycha commented on #2207
Also makes sense to make this bar a little bit wider, currently it's too narrow.

[2017-12-13 01:34] superyyrrzz commented on #2278
Do you mean, if you build the site from different machines, the link is different? DocFX will try fetch the current git information when building document. Before build document, you can try the following command to see whether configs are the same:
[code]

[2017-12-13 03:13] vwxyzh commented on #2283
@Jjagg it is a bug.

[2017-12-14 03:25] vicancy commented on #2304
1. is the project targeting multiple frameworks?
2. didyou run `dotnet restore` before `docfx metadata`?

[2017-12-14 08:19] 928PJY commented on #2167
hi, @icnocop this issue has been fixed, please upgrade your VS Code extension to [v0.1.1](https://marketplace.visualstudio.com/items?itemName=ms-docfx.DocFX)

[2017-12-14 08:19] #2167 closed

[2017-12-14 08:23] prochnowc opened #2311 "Cross-reference from REST (Swagger) docs to C# API docs?"
Question: Is it possible to have cross-references from REST API docs to the C# API docs?

We have generation of C# and REST API docs in one DocFX project. Currently in the REST docs, when some C# type is referenced in the swagger spec we can only see "T:namespace.some.typename" in the docs.

Might it be possible to add support for cross-references from REST to the C# api?

[2017-12-14 09:11] superyyrrzz commented on #2311
Cross reference is determined by **uid**, which is uniform across C# reference and REST API document. So I think your scenario should work by default.

Some questions:
* Which part of the spec do you write the cross reference in?
* How do you use the cross reference? Like `@namespace.some.typename`?

[2017-12-14 09:22] prochnowc commented on #2311
Currently i do not add explicit cross reference. My swagger spec contains eg.:

[code]

The swagger spec is generated from source code using NSwag. The descripton for the response contains <see cref="Validation.ValidationResult" /> in the xml doc.

I would like to automatically have cross-reference from REST API doc to the C# API doc.

[2017-12-14 09:30] prochnowc commented on #2311
@rsuter what do you think?

[2017-12-14 09:47] RSuter commented on #2311
In the latest version of NSwag your description is no longer generated as

    "List of T:Validation.ValidationResult."

but is now

    "List of ValidationResult."

In the long term I'd like to add custom properties to types/schemas to link them to the generated client/DTO classes.

[2017-12-14 09:53] prochnowc commented on #2311
@superyyrrzz So what would be my option to have cross-reference generated from xml docs? Using `@namespace.some.type.name` in the xml descriptions? I think NSwag should simply put this into the schema and then it would be visible to DocFx.

[2017-12-14 10:26] RSuter commented on #2311
Ok let's assume that NSwag reads "List of <see cref="Validation.ValidationResult" />.". Most users expect to just use "List of ValidationResult." as description, they don't want to leak internal implementation details out of their API... If we add for example an option to generate directly "List of <see cref="Validation.ValidationResult" />." as description, how would this be linked to docfx page?

[2017-12-14 11:07] prochnowc commented on #2311
You are right when saying that the C# model is an implementation detail. So it might be not feasible to have cross-reference from REST doc to C# doc.

Unfortunately DocFx does not even show the swagger spec models in the REST doc. Neither for parameters nor for responses :(

[2017-12-15 02:23] icnocop commented on #2144
For reference if this is fixed, it also resolves the specific example in https://feathub.com/docascode/docfx-feature-proposals/+27

[2017-12-15 02:25] icnocop commented on #2101
For reference, also see [Feature proposal #26: Insert a "Next topic" button at the bottom of web pages to jump to the next topic and/or the next section](https://feathub.com/docascode/docfx-feature-proposals/+26)

[2017-12-15 03:02] vicancy commented on #2311
@prochnowc One way to achieve this is that change the descripton for the response contains `<see cref="Validation.ValidationResult" />` in the xml doc into `<xref uid="Validation.ValidationResult">`, this is a special syntax supported in DocFX, and it can avoid NSwag from processing it and meanwhile let DocFX resolve it from C# projects, if C# and REST files are built together.

[2017-12-15 03:11] vicancy commented on #2305
I agree that if there is no `exception` tag in comment there should not be Exception section in UI.
But in the `param` and `returns` case, it not only contains descriptions from comment, but also `Type` that links to some other pages, in your case, `FixtureTag` is clickable. So I doubt if this is a general request.

There is a feature to make the syntax clickable. When that feature is implemented,

[2017-12-15 03:12] vicancy commented on #2303
Is it possible to provide a minimum set of repro projects?

[2017-12-17 11:57] andreycha commented on #2305
Changing `class.tmpl.partial` is fine for me, thanks for the hint!

And yes, I agree that when syntax becomes clickable, hiding empty sections can be made a general behavior.

[2017-12-17 12:14] evil-shrike commented on #2304
1. yes
2. yes
I do check that there're dll/xml in output. There are both configurations (Debug/Release) and both targetFrameworks built (netcoreapp2.0/net462).
Here's a sample csproj which is ignored:
[code]

[2017-12-17 12:16] evil-shrike commented on #2303
Unfortunately no, as it's hard to find a single project which causes the exception.
In general it's the same setup as in #2304 (projects targets netcoreapp2.0 and net462), there's a netcoreapp2.0-only project (dotnetcli extension), there's a net462-only project.

[2017-12-17 19:24] LordMike opened #2318 "XSS security flaw in Docs"
**DocFX Version Used**:
The live one, at docs.microsoft.com, see below.

**Template used**: (`default` or `statictoc` or contain custom template)
N/A

**Steps to Reproduce**:

1. Write HTML in API documentation
2. Wait for docs to be regenerated
3. ... profit

**Expected Behavior**:
User-content emitted to HTML should be HTML-encoded.

**Actual Behavior**:
User-content emitted to HTML is not HTML-

[2017-12-18 01:41] vicancy commented on #2318
Thanks @LordMike for reporting the issue. I will redirect the issue to the right guys and update you with any updates from them.

[2017-12-18 01:58] vicancy commented on #2304
Inside `docfx.json`, is `TargetFramework` set to one framework?
[code]

https://github.com/dotnet/docfx/issues/1254#issuecomment-294080535

[2017-12-18 06:22] sandersaares opened #2320 "Merge metadata for class with same name found in multiple projects"
**DocFX Version Used**:
2.28.3

**Template used**: (`default` or `statictoc` or contain custom template)
default

**Steps to Reproduce**:

I have a class named `XYZ.ExtensionMethods` in two projects, containing various generic extension methods (simplified scenario).

1. Create a class in two projects, with the same name and some contents (in my case, extension methods).
2. Build API documentation

[2017-12-18 07:54] ahmeturganci commented on #2320
I have some problem.

[2017-12-18 10:49] evil-shrike commented on #2304
It wasn't, I added and it helped.
Now docs are generated. Thanks!

This trick with setting properties is by design or just a workaround?
I have a bunch of projects, some of them targets both net462 and netcore, some net462 only, some netcore only and some netstandard. I'd like to have a single docsite where for each type would be specified what frameworks is supports. Like Microsoft is doing on do

[2017-12-19 02:21] vicancy opened #2322 "A more user-friendly way for multi-framework projects"
Nowadays it is a common scenario that a csproj is targeting multiple frameworks. And it is not quite convenient for docfx to handle such case, it involves pretty much config changes and some are dependent on others.

[2017-12-19 02:23] vicancy commented on #2304
Hi @evil-shrike , this is by design. I agree that we need a much more natural solution for multi-framework projects as it is now a common scenario. Create https://github.com/dotnet/docfx/issues/2322 to track the issue, for documentation and better user experience.

A quick answer: yes it is possible. `docfx merge` can be used to merge metadata generated by `docfx metadata`.

[2017-12-19 13:29] estoeva opened #2324 "word "class" in a md file is excluded"
**DocFX Version Used**: latest

**Template used**: custom template

**Steps to Reproduce**:

1. Set in a MD file a link to a file which name contains the word Class. In the generated file the word class and 4 simbols after are excluded.

[2017-12-20 02:59] vwxyzh commented on #2320
@sandersaares what's the proposal for two class sharing same full name?
And for c# compiler this also don't work when your project reference both library.

[2017-12-20 06:01] john-cj commented on #168
Yes, we can, but DFM have some [unique features](https://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html).

On the other hand, Commonmark is more stable and standardized then GFM.

The learning curve will be the same. No difference at all. Commonmark just fix some edge-cases, nothing more. For novice users it will be the same.

For advanced markdown users, however, Commonmark is more pref

[2017-12-20 06:25] sandersaares commented on #2320
@vwxyzh the OP outlines two scenarios where I foresee myself using such a construct - a container for extension methods and platform-specific libraries that are never loaded together. I suspect with enough innovation one could think of more.

[2017-12-20 06:49] vwxyzh commented on #2320
@sandersaares
For platform-specific libraries that are never loaded together,
I think the members are almost same for same class, and methods have same functional, then one API document is enough.

If different platform has different API set:
1. Use two metadata items for different platform.
2. Use `docfx merge` command to merge two implements with platform information.

[2017-12-20 07:35] john-cj opened #2326 "Change rendering according to Commonmark and new GitHub specification"
I know, DFM is based on GFM, not on Commonmark, becasue

But now, GitHub itself adopted Commonmark specification, as described here: https://githubengineering.com/a-formal-spec-for-github-markdown/.

That's mean, something like

[code]

in Commonmark and currently on GitHub will be rendered as 2 quotes. But in DocFX it will be rendered as one quote.

Does DFM/DocFX team plan to change rendering ac

[2017-12-20 07:47] vwxyzh commented on #2326
@john-cj we are working on [this](https://github.com/docascode/markdown).

[2017-12-20 07:55] john-cj commented on #2326
@vwxyzh DFM have some unique fetaures (cross-references, file inclusions): https://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html. I like these features.

[2017-12-20 07:58] vicancy commented on #2324
Hi @estoeva I can't repro it locally. Could you provide that MD file with detailed content?

[2017-12-20 08:54] xoofx commented on #2326
markdig is meant to always keep 100% compatibility with CommonMark.
For GitHub specification, markdig tried to follow the behavior but until recently, their specs were not released. Now that they are partially bringing their specs in a CommonMark like format, it will be easier to follow these.

That's what they are doing with the new [markdown engine](https://github.com/docascode/markdown) built o

[2017-12-20 12:25] john-cj commented on #2326
@xoofx Wow, it will be cool :smiley: The only bad thing is that it's too late to use it (version 0.1 alpha) :disappointed:

[2017-12-20 12:36] xoofx commented on #2326
They have been working on it for the past months, and the migration is a significant endeavor as they have to make sure that all existing Microsoft docs will be rendered correctly with the new system (including a tool to migrate the previous doc to the new format), so it is understandable that they cannot switch like this easily. But it is likely that they will be able to start the migration in th

[2017-12-20 12:51] john-cj commented on #2326
@xoofx Thank you very much. Your explanations are excellent :smiley:

[2017-12-20 16:51] #2304 closed

[2017-12-21 13:49] r-rc-christopher opened #2328 "DocFx doesn't take <include> tag into account."
**DocFX Version Used**:  2.28.3

**Template used**: default

**Steps to Reproduce**:

1. Create a "documentation.xml" file at the root of project.

[code]

2. Add the tag <include> on the top of a method.

[code]

3. Compile documentation

**Expected Behavior**:

The Remarks topic should be displayed on the documentation page.

**Actual Behavior**:

The Remarks topic doesn't appear.

Is the <inlud

[2017-12-21 14:17] crazyfx1 commented on #2220
When is this going to be released? I'm eager to try out the typescript documentation ;)

[2017-12-21 16:35] superyyrrzz commented on #2220
@crazyfx1 2.29 will contains JavaScript support. We will consider add TypeScript support in 2.30.

[2017-12-22 02:11] vicancy commented on #2328
This is not supported for now.

[2017-12-22 11:57] ahmeturganci opened #2329 "DocFx Template hierarchy customization output"
**DocFX Version Used**: 2.28.0

**Template used**: `default`

**Steps to Reproduce**:

1. ` docfx docfx.json -o C:/sDoc --serve `
Gives me this output
![output-docfx](https://user-images.githubusercontent.com/13600735/34297081-f81f9196-e726-11e7-9161-580736b1f2fd.png)
2. output hierarchy
`     -namespace
          -class - assembly
           -method`
**Expected Behavior**:
but I need this hierarc

[2017-12-22 12:17] emre-aki commented on #2329
I have the same issue.

[2017-12-22 15:33] crazyfx1 commented on #2220
What is missing for typescript support? I thought I just can use the type2docfx tool to generate yml files and use them the same way as the javascript yml files.

[2017-12-22 22:25] drewnoakes opened #2330 "Suppress warning about duplicate members when source files are identical"
**DocFX Version Used**: 2.29.0.0

**Template used**: `default`

**Steps to Reproduce**:

Create two projects that both link the same file from somewhere else.

    ProjectA
    - linked: ../Shared/Foo.cs
    ProjectB
    - linked: ../Shared/Foo.cs

Run docfx over both projects

**Expected Behavior**:

Shouldn't offer any warnings. These should appear as they do in the binary: two separate classes,

[2017-12-24 15:53] drewnoakes opened #2333 "Linking to conceptual docs from API docs"
Is it possible to link from API docs into conceptual docs?

If so, perhaps this could be added to the docs at https://dotnet.github.io/docfx/tutorial/links_and_cross_references.html. I couldn't find that information there.

[2017-12-25 04:01] vwxyzh commented on #2333
@drewnoakes
* Use overwrite document
  In overwrite document just write a correct relative path.
* Give a *uid* for conceptual docs, then link conceptual by xref:
[code]

[2017-12-25 04:10] vwxyzh commented on #2330
@drewnoakes
1. metadata project A then B (in docfx.json, `metadata` is an array).
2. use merge two output files.
3. build documents.

[2017-12-25 09:12] ahmeturganci commented on #2329
Is there any update on this?

[2017-12-25 21:03] KenCox opened #2335 "Document APIs using Reflection"
I may have missed it but is there a way for DocFx to document assemblies using reflection? My client doesn't provide the source code - just compiled assemblies.

I currently use Sandcastle (https://github.com/EWSoftware/SHFB).

Thanks,

Ken

[2017-12-26 01:18] vicancy commented on #2335
Yes it does. Simply take assemblies as a kind of source code, put it to `"files": ["**/*.dll"]`. You can also put xml files with the same file name along with the dll and DocFX will automatically load the xml to get the comments.

[2017-12-26 01:58] superyyrrzz commented on #2329
@ahmeturganci Sorry I still can't get your ideas. DocFX has namespace page listing all the including classes, and class page listing including methods. Do you mean you need a assembly page listing all the including namespace?

[2017-12-26 02:00] superyyrrzz commented on #2220
I'm afraid the current template isn't general enough for type2docfx YAMLs. Still need some test to confirm it works.

[2017-12-26 12:29] kzu commented on #273
The challenge with the proposal, however, is that unless VS adopts the same markdown-based source for the XML intellisense file generation, you'll end up having to write the docs twice: once for the nice rendering markdown would give you, and once to drive VS intellisense with meaningful info.

[2017-12-26 12:43] ahmeturganci commented on #2329
Thanks for answer question
Yes, I need a assembly page listing all the including namespace.
my project hierarchy [this](https://ibb.co/hVtzqG)
I need a document
-A
--A.Apps
--- A.App1
---- . . . other Project
-B
--B.Apps
--- B.App
---- . . . other Project
-C
--C.Apps
--- C.App
---- . . . other Project

[2017-12-27 06:21] vwxyzh commented on #2329
@ahmeturganci
You can config a set of `metadata` items in the `docfx.json`, and each one only contain one project.
Then manual write a root toc, reference all toc of projects.

[2017-12-27 09:04] ahmeturganci commented on #2329
I have no idea about root toc writing. Do you give me an idea?

[2017-12-27 12:48] JackJCSN opened #2336 "Error extracting metadata for D:/MySolution.sln: Unable to generate spec reference for !:IFormTest"
**DocFX Version Used**:
docfx.console 2.28.3
**Template used**: (`default` or `statictoc` or contain custom template)
default
**Steps to Reproduce**:

1. The is two projects in my Solution
   one of them is a csproj and the other one is vbproj
   in csharp I declarat a interface like this

using System.Windows.Forms;

namespace Lib.Forms.Test
{
    public interface IFormTest
    {
        bool Bef

[2017-12-29 03:44] vicancy commented on #2336
Type is not correctly resolved. did you run `dotnet restore` before running docfx?

[2017-12-29 03:58] vwxyzh commented on #2329
@ahmeturganci the root toc likes following:
[code]

[2017-12-29 05:52] JackJCSN commented on #2336
Thank you for your help.  I am trying to run `dotnet restore`  and it returns following message.
"Nothing to do. None of the projects specified contain packages to restore."
Is there any other options to help me to location the unresolved types?
The solution is build and run successfully so that should not have unresolved types.
"IFormTest" in the error message was an interface in my project so it

[2017-12-29 08:47] Qevlarr opened #2340 "With statictoc, namespaces run off TOC area and cannot be read"
**DocFX Version Used**: 2.27.0.0

**Template used**: (`default` or `statictoc` or contain custom template) statictoc

**Steps to Reproduce**:

1. Build docs website with long namespaces

**Expected Behavior**: TOC shows complete namespace, through wrapping text or a scrollbar

**Actual Behavior**: namespace runs off the TOC area and cannot be read
![toc_runs_off](https://user-images.githubusercont

[2017-12-29 15:09] escape-llc opened #2341 "Build targets do not match default `docfx init` layout"
**DocFX Version Used**:  2.28.3

**Template used**: (`default` or `statictoc` or contain custom template) default

**Steps to Reproduce**:

1. install docfx.console
2. go to project root folder
3. run `docfx init -q`
4. apply many other edits to `docfx.json` so it matches the Visual Studio project layout, e.g. there is no `src` folder.
5. build project

**Expected Behavior**: build generates docfx

[2018-01-02 03:33] vicancy commented on #2336
@JackJCSN could you provide a simple test project that can repro the issue so that I can take a look?

[2018-01-02 04:21] Shazwazza opened #2343 "Metadata APIs using incorrect URL - using the dest folder path instead"
**DocFX Version Used**:

v2.29

**Template used**: (`default` or `statictoc` or contain custom template)

custom

**Steps to Reproduce**:

1. clone this PR https://github.com/apache/lucenenet/pull/206
2. run the powershell build `docs.ps1 1 1` in folder `apidocs`
3. browse to localhost:8080
4. see the URL used for the API docs uses the path configured for the "dest" parameter in the docfx.json fil

[2018-01-02 17:49] leopignataro commented on #2220
@superyyrrzz does 2.29+ really support JavaScript? If so, were can we find documentation on how to use it? A few questions already come to mind:

1. On the metadata/src/files array of our docfx.json, we have the path for csproj files. What will be the case for JS files?
2. What is the syntax for the comments on the JS code?

We're excited with this update, we've been wanting this for quite a while

[2018-01-02 18:05] crazyfx1 commented on #2220
@leopignataro The documentation can be found here, but I don't know why it's not visible from the TOC ;)
https://dotnet.github.io/docfx/tutorial/universalreference/gen_doc_for_js.html

[2018-01-03 07:06] superyyrrzz commented on #2220
@leopignataro As in JavaScript, the comments should use [JSDoc](http://usejsdoc.org/) sytnax
@crazyfx1 My fault... forgot changing the TOC...

[2018-01-04 03:37] tintoy commented on #1963
@vicancy - I recently stumbled across [Buildalyzer](https://github.com/daveaglick/Buildalyzer), which seems to have fairly full-featured [support](https://github.com/daveaglick/Buildalyzer#roslyn-workspaces) for building a Roslyn `AdhocWorkspace` from project files in most formats:

![image](https://user-images.githubusercontent.com/1646284/34549429-abfc6ede-f15c-11e7-81ff-1afb1b9c4d06.png)

Might

[2018-01-04 21:58] JohnSL opened #2346 "Using xrefmap.yml from another project"
**DocFX Version Used**: docfx.console 2.28.3

**Template used**: (`default` or `statictoc` or contain custom template): default

I'm trying to figure out how to use an xrefmap.yml from another project. For security reasons, we can't download the file during build time, so we have to use a static file. How do we let DocFx know the URL for the web site that is hosting the output of that xrefmap.yml

[2018-01-05 03:14] vicancy commented on #1963
Hi @tintoy thank you for the info, I will take a look. With a first glance, it looks like also dependent on `msbuild.dll` to load and parse the project, so I am now a little confused why we not use `MSBuildWorkspace`, it is from https://www.nuget.org/packages/Microsoft.CodeAnalysis.Workspaces.Common/ and has a netstardard1.3 version...

[2018-01-05 04:48] tintoy commented on #1963
I think `MSBuildWorkspace` is in the package `Microsoft.CodeAnalysis.Workspaces.Desktop`, which does not target .NET standard (yet)?

[2018-01-05 04:49] tintoy commented on #1963
`AdhocWorkspace` is in `Microsoft.CodeAnalysis.Workspaces.Common` though.

[2018-01-05 06:09] vicancy commented on #1963
@tintoy Oh yes, `netstardard1.3` does not contain `Microsoft.CodeAnalysis.Workspaces.Desktop` assembly

[2018-01-05 06:48] superyyrrzz commented on #2346
It's also supported to point to a local file. See: https://github.com/dotnet/docfx/blob/3290c9835adefeff39a861578b20f57d739b43cd/Documentation/docfx.json#L41

[2018-01-05 06:50] vicancy commented on #2343
Change your config to:
[code]
`dest` means the destination folder that the files under `src` folder are copied to

[2018-01-05 06:50] vwxyzh commented on #2346
@JohnSL
1. download xrefmap by command `docfx download your_archive.zip -x http://some.live.site`
2. copy xrefmap to your repo or prepare it before your build document.
3. modify `docfx.json`, add xref configuration to your local achieve file.

[2018-01-05 14:53] dbeuchler opened #2347 "Support for PlantUML in Markdown"
**DocFX Version Used**: 2.29.1
**Template used**: default (`default` or `statictoc` or contain custom template)

In [GitLab it is possible to add PlantUML](https://docs.gitlab.com/ee/administration/integration/plantuml.html) Code to markdown files with:

\```plantuml
Bob -> Alice : hello
Alice -> Bob : Go Away
\```

The result looks as in the following image:

![image](https://user-images.githubus

[2018-01-05 17:22] JohnSL commented on #2346
@superyyrrzz, yes, I know. That still doesn't answer the question about how DocFx will know the base URL to use for the references. The `xrefmap.yml` file doesn't seem to contain the URL.

@vwxyzh, that doesn't work because authorization is done via Azure Active Directory, so I get the following:

[18-01-05 05:17:58.698]Error:[Archive](map.zip)Unable to create archive: The remote server returned a

[2018-01-08 01:37] vwxyzh commented on #2346
@JohnSL please manual download xrefmap.yml file.
Then open the file by editor, add one line:
[code]

[2018-01-08 02:22] vwxyzh commented on #2347
1. PlantUML Server is required.
2. Markdown code render should be overwritten.

[2018-01-08 11:45] Shazwazza commented on #2343
Yes!!! amazing, I've been trying to figure this one out for ages and seems so obvious now. Thanks a ton for your help, very much appreciated :)

[2018-01-08 11:45] #2343 closed

[2018-01-08 14:25] ChristophLindemann commented on #2292
Duplicate of #2347

[2018-01-08 14:43] pascalberger commented on #2292
Not necessary a duplicate as #2347 explicitely asks for PlantUML support, which requires additional infrastructure and therefore might not be suitable for every situation. I can also live with any JS implementation (like e.g. the mentioned mermaid).

[2018-01-08 15:50] ChrisChinchilla opened #2348 "Kramdown support?"
**DocFX Version Used**: 2.29.1.0
**Template used**: `default` with some small customisations.

I'm converting a Jekyll site to DocFx and have my own custom code tabs that use JavaScript and HTML, for example:

<img width="1126" alt="screen shot 2018-01-08 at 16 50 57" src="https://user-images.githubusercontent.com/42080/34678678-21b2d8f4-f494-11e7-85de-2d946ddd7134.png">

But I think because DocFX

[2018-01-08 18:35] JohnSL commented on #2346
It's resolving the reference, but not creating the correct URL. Here's what I did:

* Added a reference to the xrefmap.yml that I retrieved from the site:

[code]
* Edited the xrefmap.yml so the top looks like this (actual site name replaces with xxxx):
[code]
The URL that was generated for the link does not contain the URL above--it was created relative to the project I'm building. Is there some

[2018-01-09 05:59] vicancy commented on #2348
Is tabbed content http://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html?tabs=tabid-1%2Ctabid-a#tabbed-content what you are looking for?

[2018-01-09 06:00] vwxyzh commented on #2346
@JohnSL it is a code bug.

[2018-01-09 06:07] superyyrrzz commented on #2336
repro repo: https://github.com/superyyrrzz/TestCsWithVb

[2018-01-09 07:31] ChrisChinchilla commented on #2348
@vicancy Huh, strange, I found the tabs somewhere else and it had different syntax and said that it would only work on MSDN, but this works perfectly. Thanks!

[2018-01-09 07:31] #2348 closed

[2018-01-10 18:52] JohnSL commented on #2346
@vwxyzh , thanks. Can you give me an idea of when an updated NuGet package will be available with this fix? I'm using the docfx.console NuGet package.

[2018-01-11 05:49] vwxyzh commented on #2346
@JohnSL we will release it in next Monday, is it so urgent?
Or you can try our [dev feed](https://myget.org/gallery/docfx-dev)

[2018-01-11 08:22] vicancy commented on #2347
I would say a pure frontend solution, e.g. https://mermaidjs.github.io/ is more acceptable. @dbeuchler do you think https://mermaidjs.github.io/ is a good way to go?

[2018-01-11 14:07] dbeuchler commented on #2347
A pure frontend solution (but "offline") is acceptable but currently mermaidjs dos not support several diagram types. In our application we have a lot of `StateMachine` and `Component` Diagrams which are currently not supported but as far as I see, these diagram types can be covered by generic `squares`, `circles` and `arrows`.

[2018-01-12 13:39] ilovezfs opened #2352 "docfx.zip for 2.30?"
Is the docfx.zip intentionally missing for 2.30 on https://github.com/dotnet/docfx/releases ?

[2018-01-12 16:02] superyyrrzz commented on #2352
There's some error in CI when build this release. I have uploaded it manually. You can find the zip now.

[2018-01-12 16:12] ilovezfs commented on #2352
Voilà https://github.com/Homebrew/homebrew-core/pull/22794

[2018-01-12 16:12] #2352 closed

[2018-01-15 03:57] vwxyzh commented on #2346
@JohnSL v2.30 released.

[2018-01-15 03:57] #2346 closed

[2018-01-15 15:23] xxcuratorxx opened #2355 "[Question] Support for XSD code generation"
Hi,

are there any plans to automatically create docfx documentation based on XSD files (with comments) rather than c# File (with xml comments)?

If not, would it be possible to extend docfx by custom preprocessors?

thanks for any ideas,
curator

[2018-01-16 03:29] vicancy commented on #2355
Hi @xxcuratorxx I am afraid that there is no plan for supporting XSD files... One idea to generate an YAML file from XSD following the same format as C# YAML files http://dotnet.github.io/docfx/spec/metadata_format_spec.html so that docfx can generate documentation directly from it. Another idea is to leverage SchemaDrivenProcessor http://dotnet.github.io/docfx/spec/docfx_document_schema.html#7-sa

[2018-01-16 17:52] ndenkha opened #2357 "Error installing"
This might not be the right place to post this question, but this is where the link from here brings me.

https://www.nuget.org/packages/Microsoft.DocAsCode.HtmlToPdf/

I'm trying to install Microsoft.DocAsCode.HtmlToPdf, and it gives me the below error. Any help is appreciated.

Could not install package 'Microsoft.DocAsCode.Common 2.30.0'. You are trying to install this package into a project th

[2018-01-16 22:39] Godgifu opened #2358 "metadata broken with mono and linux"
**DocFX Version Used**:  Latest release with mono 5.4.1.6

**Template used**: Default

**Steps to Reproduce**:

1.  mono docfx.exe metadata

**Expected Behavior**:

It works.

**Actual Behavior**:

[code]

[2018-01-17 12:33] trevex commented on #2358
I am having the same problem with a **dotnet core** project on linux.

docfx v2.30
mono 5.0.0 (tried 5.4.1.6 as well though same issue)
msbuild 15.3

If I generate the documentation for `docfx-seed` on the other hand, everything works fine.

Is this a general incompatibility with linux at the moment?

[2018-01-19 02:04] vicancy commented on #2357
Hi @ndenkha are you using the latest visual studio? Microsoft.DocAsCode.Common is now targeting `netstandard2.0`, which, in the latest visual studio, should be compatible with `net461`.

[2018-01-19 02:07] vicancy commented on #2358
Should've supported since https://github.com/dotnet/docfx/pull/2268
Hi @ManuelGysin @trevex is it possible for you to provide a minimum failed project for me to repro and take a look?

[2018-01-19 02:09] vicancy commented on #2358
Related reference https://github.com/dotnet/roslyn/issues/20848#issuecomment-340294584

[2018-01-19 02:58] trevex commented on #2358
I uploaded the basic initial project I used to test this: https://github.com/trevex/CueX

I also installed the lastest stable mono and dotnet-sdk on OSX and get the same error:
[code]

Exporting `MSBUILD_EXE_PATH` changes the error message though to:
[code]

[2018-01-19 06:54] suzdalnitski commented on #2305
@vicancy
@andreycha

Can you please provide me with a sample `class.tmpl.partial` template to exclude empty `{{description}}` blocks? I'm just getting started with docfx, and this is way over my head...

Thank you!

[2018-01-19 10:05] andreycha commented on #2305
@suzdalnitski for example here is `return` block from `class.tmpl.partial`:

[code]

all you need is to wrap its content into `{{#description}}{{/description}}`, where `#` means that the block will not be generated if `description` is empty:

[code]

[2018-01-20 00:12] ManuelGysin commented on #2358
I just used a plain project created with Rider for this.
MSBUILD_EXE_PATH overwrite causes the same problem here like in the comment above.

[2018-01-21 11:42] icnocop commented on #2025
For reference, this may be a duplicate of https://github.com/dotnet/docfx/issues/803

[2018-01-22 06:11] ndenkha commented on #2357
No I'm using VS2015, I'll try VS2017 tomorrow. Just curious, will or is there an HtmlToPdf version for .NET 4.0 framework?

[2018-01-22 06:12] vicancy commented on #2358
Reproed in https://travis-ci.org/docascode/docfx.test, will take a further look into it.

[2018-01-22 23:16] avspeed opened #2367 "docfx output includes protected members"
**DocFX Version Used**:
2.30
**Template used**: (`default` or `statictoc` or contain custom template)
default
**Steps to Reproduce**:
I have generated documentation for a project and the output contains some protected members..
What would cause that ? I thought that only public were included

**Expected Behavior**:
only public members in the output
**Actual Behavior**:
protected members are includ

[2018-01-23 07:37] vwxyzh commented on #2367
@avspeed
It is as design.
The reason is: when inheriting the class, you can find the protected members.
Hint: protected members in sealed class will be removed.

[2018-01-23 14:37] avspeed commented on #2367
@vwxyzh  ok thank you.

[2018-01-23 14:37] #2367 closed

[2018-01-24 15:20] MarcelSRoser opened #2373 "Empty region in code block will crash metadata extraction"
**DocFX Version Used**: stable branch (built just now)

**Template used**: default

**Steps to Reproduce**:

1. reference a code file without regions.
`<example><code source="Examples\\full-configuration-example.xml" language="xml"/></example>`

**Expected Behavior**: Read entire file and add it to the documentation

**Actual Behavior**: Crash with metadata exception without the file / information

[2018-01-24 18:27] tzachshabtay opened #2374 "Wide screen support"
**DocFX Version Used**: 2.30

**Template used**: `default`

**Steps to Reproduce**:

1. Look at any of the generated documentation websites using the default template on a wide-screen monitor. Here's a good example of a page that would have benefited greatly from wide screen support: https://tzachshabtay.github.io/MonoAGS/articles/ags-cheat-sheet.html

**Expected Behavior**:

The layout should tak

[2018-01-25 23:19] noluskey opened #2378 "Improve this Doc Uses Wrong URL if Repo ends with ".git""
**DocFX Version Used**: 2.26.0.0

**Template used**: `default`

**Steps to Reproduce**:

1. Create a repository on VSO called Repo.git (or anything that ends with `.git`)
2. Clone repository and add a simple docfx project
3. Build and visit the site, specifically looking at the "Improve This Doc" link

**Expected Behavior**:
Improve this doc should link to `https://<user>.visualstudio.com/<Project

[2018-01-25 23:28] noluskey commented on #2378
This issue was created with the fix for issue #951 (support for submodules). However, it is valid for the root repository to contain `.git` in the name. Removing lines 140-142 in common.js:

[code]
would fix this, but I'm not sure the implications for the submodule issue.

[2018-01-26 00:10] lukebakken opened #2379 ""Unable to cast object of type" error"
**DocFX Version Used**:

[code]
**Template used**: `default`

**Steps to Reproduce**:

Note: this is using Windows 10 with .NET Core 2.0 SDK version 2.1.4 installed, latest VS 2017 community (15.5)

1. `git clone -b rabbitmq-dotnet-client-154399066 https://github.com/rabbitmq/rabbitmq-dotnet-client.git`
2. `cd rabbitmq-dotnet-client`
3. `.\build.bat`
4. `C:\Full\Path\To\docfx.exe`

**Expected Beha

[2018-01-26 02:53] vicancy commented on #2379
`docfx` should work after build.. will take a look

[2018-01-26 02:54] superyyrrzz commented on #2378
This logic makes sense for github. For the git string `https://github.com/dotnet/docfx.git`, DocFX need to remove `.git` to construct the URL like "https://github.com/dotnet/docfx/blob/dev/xxx.md".
As vso git string doesn't contain the trailing `.git`, this logic is not needed. The fix need to move this logic into github specific place.

[2018-01-26 07:41] pascalberger opened #2381 "Fix Chocolatey package"
DocFx 2.30 wasn't successfully submitted to the Chocolatey gallery due to [failing checksum](https://gist.github.com/choco-bot/0a55043d2cb751dbff58e825d1a7398e#file-install-txt-L340).

It would be nice if you could change the Chocolatey package to contain the actual binaries instead of relying on downloading them from GitHub as this would result in a much more stable package.

[2018-01-26 09:00] Qevlarr commented on #684
I also request this feature. Documentation should be easy to find. Github (and other platforms) show a markdown readme right on a project's main page. It would be great if we can refer to generated documentation pages (again in markdown) with something like xref. The platform can style the markdown for me, that's not as important as having all the docs in one easy to find place.

[2018-01-26 09:04] vicancy commented on #2381
Yes I agree @pascalberger

[2018-01-26 09:06] vicancy commented on #2379
A bug with VB's eii method generation

[2018-01-26 11:00] Xarkam opened #2383 "VSC Extension cannot run if whitespace is in path"
VSC: 1.19.3 / Extension version 0.1.1
Windows 10.
DocFx 2.30

I try to test the extension for visual studio code but the preview cannot run because my username in path contain whitespace:
![image](https://user-images.githubusercontent.com/331816/35436751-f2dc5aaa-028f-11e8-902d-dfd9f05b1c45.png)
after 'Benjamin' I have a whitespace.
So the command line is cut at this point

Thanks

[2018-01-26 12:45] Ollhax opened #2384 "API browser: Vertical scroll position resets when you click a class"
**DocFX Version Used**:
2.30

**Template used**:
Tried both the default template and statictoc, neither works.

**Steps to Reproduce**:

Can be tested with the DocFX docs:

1. Go to any API documentation page with a lot of classes, e.g. [here](https://dotnet.github.io/docfx/api/Microsoft.DocAsCode.Metadata.ManagedReference.AttributeFilterInfo.html).
2. Scroll down on the left-hand side and select

[2018-01-26 13:56] Ollhax opened #2385 "C# 7.2 new feature support: In-parameters causing error: Error extracting metadata for (...) Unable to generate spec reference for !:"
**DocFX Version Used**:
2.30

**Template used**
default

**Steps to Reproduce**:
Sample: [files.zip](https://github.com/dotnet/docfx/files/1667899/files.zip)

Create a new project, set metadata source to a .cs-file with this:

[code]
Run ''docfx metadata'', get the following error:

[code]

If "in" is removed for second parameter in Foo, it works. Also, the first dummy parameter is removed, it wor

[2018-01-26 14:21] lukebakken commented on #2379
Thank you for investigating. Let me know if there is anything I can do to assist.

[2018-01-26 14:52] SavchenkoAlexander opened #2387 "Wrong metadata generation for Netstandard assemblies"
**DocFX Version Used**: 2.30

**Template used**: (`default` or `statictoc` or contain custom template)

**Steps to Reproduce**:

1. Create VS Project for ClassLibrary (Target framework: Netstandard 2.0)
2. Define any Enum.
3. Build metadata with docfx for resulting dll.

**Expected Behavior**:
Type for Enum - Enum.
**Actual Behavior**:
Type for Enum - Class.

[2018-01-29 09:16] jskeet opened #2391 "GA NuGet packages on nuget.org depend on preview packages in MyGet"
I have a snippet system for Noda Time built using the NuGet packages for docfx.

In particular, it uses [Microsoft.DocAsCode.Metadata.ManagedReference](https://www.nuget.org/packages/Microsoft.DocAsCode.Metadata.ManagedReference/)

That depends on Microsoft.Build.MSBuildLocator version 1.0.1-preview-g6cd9a57801. This is a package which isn't available on NuGet - and as per the version number, is a

[2018-01-29 09:23] jskeet commented on #2391
(As it happens, I've found I can remove the dependency entirely in Noda Time, which is handy - but the general point remains.)

[2018-01-29 17:39] ovasquez commented on #1862
The Material Theme for MkDocs could be used as the base for the docfx theme
https://squidfunk.github.io/mkdocs-material/

There are already a couple of ports of that theme to other generators:
- https://themes.gohugo.io/theme/material-docs/getting-started/
- https://github.com/jonas/paradox-material-theme

[2018-01-29 20:40] surban commented on #159
#2392

[2018-01-30 02:58] vicancy commented on #2387
Reproduced. This happens when `docfx metadata a.dll`, `docfx metadata a.csproj` works fine.

[2018-01-30 03:23] vicancy commented on #2385
Probably should update `Microsoft.CodeAnalysis` dependencies to support the latest c# 7.2.

[2018-01-30 07:35] vicancy commented on #2387
It turns out that system.object is not successfully resolved with assemblies and thus the enum turns out to be an ErrorType and fallback to default value `Class`

[2018-01-30 10:13] xxcuratorxx commented on #2355
Thanks for the hints. I will investigate the affort for implementing that.
regards,
curator

[2018-01-31 10:31] KristianWedberg opened #2397 "Remove TOC "missing name" warning"
**Summary**:

"toc.md" files can already generate output using the _target_ title from an xref (or `@` short-hand) link, which is useful to avoid duplication. Unfortunately each such link logs an unnecessary warning, which should be removed.

**Setup**:
- DocFX Version 2.29.1.0
- `default` template

**Steps to Reproduce**:
Any "toc.md" file using xref without titles:

[code]

**Expected Behavior**

[2018-01-31 17:29] #2378 closed

[2018-02-01 03:13] #2142 closed

[2018-02-01 09:00] vicancy commented on #2397
Will be fixed in v2.30 https://github.com/dotnet/docfx/pull/2338

[2018-02-01 09:00] #2397 closed

[2018-02-01 14:47] KristianWedberg opened #2401 "C# 7.2 "private protected" bug"
**Summary**:

`private protected` members are included in the HTML output as a `public` member, when they instead should not be included at all. I've cleaned caches, and the issue is still present.

**DocFX Version Used**: 2.29.1.0

**Template used**: `default`

**Steps to Reproduce**:

[code]

**Expected Behavior**:

`ShouldNotBeInDocs` should not be included in docfx output since `private protec

[2018-02-01 14:57] KristianWedberg commented on #2285
I second this request. I was initially thinking of sorting on their numerical value, but having the original order would be much better.

[2018-02-01 19:34] KristianWedberg opened #2402 "`<seealso>` not working with `enum`"
**DocFX Version Used**: 2.29.1.0

**Template used**: `default`

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Both `MyEnum` and `MyClass` have "See Also" sections with a reference to the other.

**Actual Behavior**:

`MyClass` have "See Also" section with a reference to `MyEnum` (as expected), but `MyEnum` has no "See Also" section and no reference to `MyClass`.

[2018-02-02 05:07] vicancy commented on #2402
A template bug

[2018-02-02 06:26] #2379 closed

[2018-02-02 06:26] #2402 closed

[2018-02-02 09:20] vicancy commented on #2401
Should be fixed in v2.31, let me know if there are any other issues.

[2018-02-02 09:20] #2401 closed

[2018-02-02 09:21] vicancy commented on #2385
Should be fixed in v2.31, let me know if there are any other issues.

[2018-02-02 09:21] #2385 closed

[2018-02-02 13:28] KristianWedberg opened #2410 "Inconsistent formatting of "Syntax" with inheritance and type constraint"
**DocFX Version Used**: 2.31.0.0

**Template used**: `default`

**Steps to Reproduce**:
[code]

**Expected Behavior**:
In the "Syntax"/"Declaration" section:
- Each inherited class/interface displayed on their own line (this is best since many generic classes/interfaces have very long names):
[code]
- Each class _and_ method type constraints displayed on their own line, and with keywords highlight

[2018-02-02 14:42] KristianWedberg opened #2411 "Overload resolution bug"
**DocFX Version Used**: 2.31.0.0

**Template used**: `default`

**Steps to Reproduce**:
[code]

**Expected Behavior**:
`<see cref="Method"/>` resolves to `public void Method()`.

**Actual Behavior**:
`<see cref="Method"/>` resolves to `private void Method(bool a)`.

[code]

[2018-02-02 16:24] lukebakken commented on #2379
Thanks! I will test this out.

[2018-02-02 16:59] KristianWedberg opened #2412 "Retain API filter string"
**DocFX Version Used**: 2.31.0.0

**Template used**: `default`

**Steps to Reproduce**:
1. On the API Documentation web page, enter text in the "Enter here to filter..." text box
2. Click on any of the links filtered API links

**Expected Behavior**:
When the new page is loaded, the filter text is retained in the filter box, and the API links on the left hand side remain filtered on the filter tex

[2018-02-07 22:55] lukebakken commented on #2379
@vicancy - I have confirmed that #2407 fixes the issue. Thanks!

[2018-02-08 14:28] JeremyTCD opened #2424 "Consecutive blockquotes in markdown being rendered as a single blockquote"
**DocFX Version Used**: 2.31.0.0

**Template used**: default

**Steps to Reproduce**:

1. Enter the following into any markdown file:
[code]
**Expected Behavior**:

**Actual Behavior**:

## Notes
I'm not sure if this is by design, however, the expected behavior is [consistent with GFM](https://github.github.com/gfm/#example-213) while the actual behavior is not. Moreover, there is no intuitive way

[2018-02-08 19:49] pascalberger opened #2425 "Document breadcrumb_path"
The [ASP.NET documentation](https://github.com/aspnet/Docs/blob/c3aba78729951e56ae8335094ffcd800d4fdb786/aspnet/docfx.json#L39) uses a ´breadcrumb_path´ property, which also appears in a few tests in this repository. Is this a feature of DocFx or something specific to the template used by ASP.NET?

It would be nice to have documentation how to use it and if the breadcrumb TOC file can be generated

[2018-02-08 23:07] sandorfr commented on #138
yes handlebars.nets support .Net standard for a long while now ( and I also have a fork of [mustache-sharp](https://github.com/sandorfr/mustache-sharp/tree/rtm) since beta4 ;) https://www.nuget.org/packages/mustache-netstandard/ )

[2018-02-09 01:09] sandorfr opened #2426 "Move temporary plugin folder to and AppData directory"
# Bug
**DocFX Version Used**:
2.31.0.0

**Template used**: (`default` or `statictoc` or contain custom template)
default

**Steps to Reproduce**:

1. Install docfx with chocolatey as an administrator
2. Run docfx in a normal shell

**Expected Behavior**:
It should work.

**Actual Behavior**:
It fails with a permission error on the temporary plugin folder.

**Workaround**
Give modify permissions to

[2018-02-09 02:08] sandorfr opened #2427 "Documentation: Can't figure out how to enable plugins for pdf"
I can't figure out how to enable the plugins for pdf as well. I'm probably missing something but [the documentation](https://dotnet.github.io/docfx/tutorial/walkthrough/walkthrough_generate_pdf.html) does not contain any pdf specfic information on that matter.

**DocFX Version Used**:
2.31.0.0

**Template used**: (`default` or `statictoc` or contain custom template)
default

**Steps to Reproduce**

[2018-02-09 02:23] sandorfr commented on #2292
I'm in desperate need for that so I'm working on a mermaid renderer plugin. I have a working proof of concept ([source code](https://github.com/sandorfr/docfx/tree/feature/mermaid-renderer/plugins/Microsoft.DocAsCode.Build.MermaidRenderer))

I'm pretty happy with the experience it give in combination with vs code and that [mermaid plugin](https://marketplace.visualstudio.com/items?itemName=bierner

[2018-02-09 08:10] vicancy commented on #2427
assemblies inside plugins has a flattened folder structure. and pdf template `default.pdf` is embedded in docfx, so you don't need any plugin to run pdf. You can also use `docfx template export default.pdf` to see what's inside the pdf template.

[2018-02-09 08:28] sandorfr commented on #2427
I'm a bit more confused now.

The plugin are not to run pdf but to get what I want inside the pdf, such as markdown extensions (see #2292), or properly splitted swagger API.

That's not my top priority at the moment but does that mean that there won't be to make it look good by customizing it?

[2018-02-09 08:37] PascalSl commented on #1336
I was playing around with the PDF-generation and I had two questions:

- Is there a way to control the complete layout of the PDF? I've still got to get acquainted with the templating system in DocFX so I might be missing something here, but from what I've gathered generating the PDF's is a bit less flexible that the site generation. For instance, for the PDF generation there is no template that e

[2018-02-09 14:08] SamBlundell opened #2428 "Breadcrumbs"
I am using the current docfx to build my documentation we have multiple projects that i want to build it for so my plan is to add an extra level in to split them up like below:

![image](https://user-images.githubusercontent.com/36229089/36031235-f9ffb184-0da1-11e8-9183-95821beec3fe.png)
_(Optima.Web.UI is one of said projects)_

I have got this linking up with the project documentation but the pr

[2018-02-10 07:08] Richard-biz opened #2433 ""*.sfproj" service fabric Project not creating the Documentation"
Hi There,
This is really awesome for the documentation generation instead of writing all method and code in our Project, but i want in my "*.sfproj" service fabric Project , i changed my metadata file in docfx.json in the file extension but its not creating the file in my .net core service fabric application
could you anyone tell me How to archive my goal in service fabric application in the docum

[2018-02-10 19:46] smaillet opened #2434 "docfx.console forces init unconditionally on all builds"
**DocFX Version Used**:
2.31.0
**Template used**: (`default` or `statictoc` or contain custom template)
N/A
**Steps to Reproduce**:

1.  Update docfx console via nuget for a project with previous version
2. Build

**Expected Behavior**:
Docs build and no new unwanted project files created.

**Actual Behavior**:
Generate is now unconditionally running the init command before generating the docs (du

[2018-02-11 03:38] vwxyzh commented on #2424
@JeremyTCD please switch `markdownEngineName` to `margdig`/`dfm-latest`, default is `dfm`.
See document [here](http://dotnet.github.io/docfx/tutorial/docfx.exe_user_manual.html#32-properties-for-build)

[2018-02-11 15:37] superyyrrzz commented on #2425
This feature is specific to the template used by docs.msft.com, of course includeing ASP.NET. It has a different logic to compose the TOC.

In DocFX's default template, breadcrumb's left part is from top navbar, and the right part is from left toc. `bread_crumb` is not used in DocFX, although it exists in some UT...

In DOCS' template, all the breadcrumb's node is from another virtual TOC. Left to

[2018-02-12 01:28] superyyrrzz commented on #2428
DocFX fetches nodes from top navbar when rendering breadcrumb. No link from top navbar links to the current Optima.Web.UI's toc, so it lacks the left part nodes. You can use toc inclusion to resolve this.

I think your `api/toc.yml` is like below:
[code]

Try Changing `href: Optima.Web.UI/` to `href: Optima.Web.UI/toc.yml` for toc inclusion, and add an `exclude` rule in `docfx.json` to avoid dupli

[2018-02-12 01:57] vicancy commented on #2427
Hi @sandorfr I get your point now.

Plugin folder structure is flattened. Try moving items inside `plugins/rest.tagpage.2.31.0/content` to `plugins`. Alternatively, you can `nuget install rest.tagpage -OutputDirectory <output>` and in `docfx.json`, change template config to `template: ["default.pdf", "<output>/rest.tagpage.<version>/content"]`

Yes, you can make it look better by customizing it us

[2018-02-12 02:15] vicancy commented on #2434
Yes absolutely. Should be a bug and need fix.

[2018-02-12 02:16] vicancy commented on #2358
MSBuild assembly throws this exception when `new MSB.Evaluation.ProjectCollection();`, need a further look.

[2018-02-12 02:55] vicancy commented on #2358
1. The reason for throwing "Platform is not supported": should set `MSBUILD_EXE_PATH` while code sets `MSBuild_EXE_PATH`.... In Linux, case sensitivity matters.
2. The other one is in investigating...

[2018-02-12 03:36] JeremyTCD commented on #2424
Thanks!

[2018-02-12 03:36] #2424 closed

[2018-02-12 06:31] sandorfr commented on #2427
Hooray !
![image](https://user-images.githubusercontent.com/2660262/36085445-f1778378-1019-11e8-90a6-771cd17a6bcc.png)

`plugins` was my actual `<output>`, but I renamed it to pluginsPackages for clarity. The part I was missing was the pdf template which is `pdf.default` and not `default.pdf` ;):

[code]

and the export command is indeed `docfx template export pdf.default`

You put me on the right

[2018-02-12 06:31] #2427 closed

[2018-02-12 14:25] SamBlundell commented on #2428
Thanks. That seems to have got it working for me

[2018-02-12 16:44] mjangid opened #2439 "Symantec blocked the docfx.exe --> Security risk detected: WS.Reputation.1"
**DocFX Version Used**:  2.31.0.0

**Template used**: `default`

**Steps to Reproduce**:

**Expected Behavior**:
Should create default project

**Actual Behavior**:

Scan type: Auto-Protect Scan
Event: Security Risk Found!
Security risk detected: WS.Reputation.1
File: c:\tools\docfx\docfx.exe
Location: Deleted or access blocked
Computer: LP-2JNK4M2
User: manoj.jangid
Action taken: Leave Alone succ

[2018-02-12 23:18] alakssevugan opened #2440 "Support for Last Updated date/Owner/Last Editor fields in document pages"
**DocFX Version Used**:

**Template used**: (`default` or `statictoc` or contain custom template)
Default

**Steps to Reproduce**:
1. Update the page
2. No meta data to say who updated the page and when it was updated.
3.

**Expected Behavior**:
Show the following properties for each page:

Page Last Edited | 0 days ago on 02-12-18
Page Owner | Hyper linked Owner Alias
Last Editor | Hyper linked E

[2018-02-12 23:22] sandorfr commented on #2292
If anyone is interested in giving feedback or anything, I've made the packages available here: https://www.myget.org/F/gl-unstable/api/v3/index.json

you need to install [mermaid cli](https://github.com/mermaidjs/mermaid.cli) and [graphviz](https://www.graphviz.org/download/)

[code]

[code]

[2018-02-13 00:07] sandorfr commented on #2439
You got me worried so I did a quick google search:
https://community.norton.com/en/forums/clarification-wsreputation1-detection

I think it's just a false positive, you should submit it to symantec as a false positive https://submit.symantec.com/whitelist/

[2018-02-13 01:11] vicancy commented on #2427
@sandorfr this is cool, I'd like to have it merged into docfx. Please send out the PR when its ready to share. 👍

[2018-02-13 01:24] vicancy commented on #2439
Thanks for reporting the issue, I reported a false positive to Symantec.

[2018-02-13 05:29] vicancy commented on #2358
Root cause identified for `The type initializer for 'Microsoft.Build.Collections.MSBuildNameIgnoreCaseComparer' threw an exception`:
`System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.Windows)` returns `True` under *mono* with *Assembly System.Runtime.InteropServices.RuntimeInformation, Version=4.0.2.0* while returns `False` under *mono* with

[2018-02-13 07:15] vicancy commented on #2439
In relation to submission 73786.

Upon further analysis and investigation we have verified your submission and, as such, the detection(s) for the following file(s) will be removed from our products:

    File name: docfx.exe
    MD5: af23d83dc3ce3eba7777f7c5794d4dac
    SHA256: 4a37ef10c971a7b6799fdf8d7950c65ac8bf077afbce3fef7eca842c86dea014
    Note: Whitelisting may take up to 24 hours to take e

[2018-02-13 09:54] richorama opened #2445 "Question: How are GitHub Issues supported?"
**DocFX Version Used**: docfx 2.31.0.0

**Template used**: `default`

**Steps to Reproduce**:

1. Add the following configuration to `globalMetadata` :
[code]
2. build docs
3. pages do not have GitHub Issues feedback

**Expected Behavior**: Expected to see GitHub Issues enabled for feedback

**Actual Behavior**: No change

Hi, I'm attempting to add the new [GitHub based feedback](https://docs.micr

[2018-02-13 10:09] #2434 closed

[2018-02-13 10:16] vicancy commented on #2358
One workaround is to specifically use *System.Runtime.InteropServices.RuntimeInformation, Version=4.0.1.0.*, and use app.config to redirect all the assembly references back to `4.0.1.0`. But I doubt if that is a correct fix....

[2018-02-14 19:47] joesgab commented on #138
@agc93 How would you execute that workaround anyway? When I run docfx on Linux to document my .NET Core apps, it seems to always choose MSbuild as inner compiler, which apparently is wrong for core apps, thus resulting in a failure.

[2018-02-16 02:18] cedar-ave opened #2446 "In generated PDF, TOC and cross-reference links often go to the middle of a section instead of top"
**DocFX Version Used**: 2.30

**Template used**: pdf.default and custom template to modify CSS

**Steps to Reproduce**:
1. Generate PDF
2. Inside the PDF, click a link in the TOC or a cross reference to another section

**Expected Behavior**:
Taken to the top of the referenced section

**Actual Behavior**:
Taken to the middle of the referenced section (some links do this, some don't)

[2018-02-16 17:02] MariusVolkhart commented on #1706
Is there any way to figure out why Roslyn failed to resolve the type? I have this problem for `object.Equals(object)`, `System.IObservable<T>`, `string.Empty`, `System.Environment.MachineName`, and `object.GetHashCode()` but have no way of seeing what requests are being made to `https://xref.docs.microsoft.com/query?uid={uid}`

[2018-02-17 10:59] Jjagg commented on #2283
I forgot to close this issue, but this is working great now! Thanks! :)

[2018-02-17 10:59] #2283 closed

[2018-02-17 11:42] Skudnoff opened #2447 "Can't update document links by overriding UpdateHref method"
**DocFX Version Used**: 2.31

**Template used**: any template, default or custom
**Steps to Reproduce**:

1. Create custom ConceptualDocumentProcessor
2. Override the UpdateHref method and update Href of documents like this for example:
[code]

**Expected Behavior**:
All links to Conceptual documents are updated correctly accordingly to this code everywhere. In xrefmap.yml, Toc.html and other docu

[2018-02-17 15:50] MariusVolkhart opened #2448 "XRefService lookup of generic classes doesn't work"
**DocFX Version Used**: 2.31.0.0

**Template used**: `default`

**Steps to Reproduce**:

1. Add the Microsoft xref service to the `docfx.json`: `"xrefService": [ "https://xref.docs.microsoft.com/query?uid={uid}" ]`
2. Create a class with a return type of a class with generics, such as `IList` or `IObservable`
3. Serve docs using docfx `docfx docfx.json --serve`

**Expected Behavior**:
The generate

[2018-02-19 16:19] Herrmel commented on #2448
Hi there,
I have exact the same issue with similar setup. I wanted to mention tought that for me additionally methods also do not get linked. So for example if I overwrite the Method *toString()* it detects and prints the full name *System.Object.ToString()* but it does not create a link. This apllies to any area I think.

[2018-02-21 08:14] jancura opened #2450 "(LaTex) Math formulas rendering support"
For math projects, one wants to document the code by using math expressions. However, currently, docfx does not support rendering of math if I use latex style definitions of formulas in my markdown files.
Would be possible to add such feature into docfx?

[2018-02-21 13:19] Herve-M opened #2451 "Exclude System.ObsoleteAttribute with generic ctor target?"
**DocFX Version Used**: 2.31.0.0

**Template used**: `default`

**Steps to Reproduce**:
The problem is how to exclude an attribute with any arg.?
In my case I have an interface with generic, with ObsoleteAttribute, and an class who implement it with ObsoleteAttribute too, But I don't get the method to be ignored/not displayed...

1. Create an Interface + Class, having an method with ObsoleteAttrib

[2018-02-21 16:20] ChrisChinchilla opened #2452 "Question: Include contents of a REST API operation"
**DocFX 2.31.0.0**:

**Template used**: custom

**Steps to Reproduce**:

1. Enable rest.tagpage and res.operation plugins
1. Include contents of an API operation in a Markdown page

**Expected Behavior**: API operation included

**Actual Behavior**: Page not created.

I'm not sure of the correct syntax to include the contents of a REST API operation inside a markdown file, which the docs make it s

[2018-02-22 04:50] zwcloud commented on #803
@FSharpCSharp
The Microsoft docs uses multiple docfx sites for multilingualism, such as [docs(en-us)](https://github.com/dotnet/docs), [docs.zh-cn](https://github.com/dotnet/docs.zh-cn) and so on.
https://github.com/dotnet?q=docs

[2018-02-22 06:38] FSharpCSharp commented on #803
@zwcloud
That's right! But apparently Microsoft also has a special docfx template to switch the languages easily. This is unfortunately not included in the standard template, which makes it very difficult to use from my point of view. I agree that it would of course be best to benefit from the templates of Microsoft docs.

[2018-02-22 07:13] vwxyzh commented on #2451
@Herve-M try following filter:
[code]

[2018-02-22 07:16] vwxyzh commented on #2448
@MariusVolkhart please try `dotnet restore`, then run `docfx`.

[2018-02-22 07:25] vwxyzh commented on #2445
@richorama DocFX do not support this feature.
This feature is based on web site, it do not open source yet.

[2018-02-22 10:47] Herrmel commented on #2448
I dont have dot net core installed but I dont use any projects with dotnet core for my documentation so I dont think this would help me(correct me if Im wrong). I also noticed that this issue seems to apply to docfx own API documentation as well ([example](http://dotnet.github.io/docfx/api/Microsoft.DocAsCode.CascadableOptions.html#Microsoft_DocAsCode_CascadableOptions_Templates)).

[2018-02-22 13:19] jobubo commented on #2142
@vicancy Thank you for fixing this bug!

[2018-02-22 14:45] MariusVolkhart commented on #2448
When I run `dotnet restore` on the `SampleClass1.sln` from `docfx-seed` (which i'm using to demonstrate the problem I receive the message `Nothing to do. None of the projects specified contain packages to restore.`

[2018-02-22 15:23] thomaslevesque opened #2453 "No metadata is generated for <project>"
**DocFX Version Used**: 2.31.0

**Template used**:  `default`

**Steps to Reproduce**:

1. Clone repo https://github.com/FakeItEasy/FakeItEasy/
2. `cd` into repo directory
3. `docfx init -q`
4. Change metadata as follows in docfx.json:
[code]
5. `docfx docfx_project\docfx.json --force --logLevel Verbose`

**Expected Behavior**:

Should generate metadata for FakeItEasy.csproj

**Actual Behavior**:

[2018-02-22 15:41] thomaslevesque commented on #2453
OK, I had the `properties` at the wrong level... I no longer have this warning. But I still can't see any API documentation generated in _site; I have a bunch of .yml files in api, though.

[2018-02-23 08:06] vwxyzh commented on #2448
@superyyrrzz @Herrmel it is a bug in DocFX.

[2018-02-23 15:21] superyyrrzz commented on #2453
@thomaslevesque Can you provide the `build` section of your `docfx.json`?

[2018-02-23 16:03] thomaslevesque commented on #2453
@superyyrrzz, I recreated it from scratch and now it works. Not sure what I did wrong the first time...
Sorry about this, I'll close the issue now.

[2018-02-23 16:03] #2453 closed

[2018-02-23 16:54] john-cj commented on #2326
Just wanted to state that there is excellent Commonmark implementation: [markdown-it](https://github.com/markdown-it/markdown-it). Bug-free and with plugin API. Probably it could be used here.

[2018-02-25 05:32] gix opened #2458 "Inherited methods are not linked"
**DocFX Version Used**:  2.31

**Template used**: default

**Steps to Reproduce**:

1. Create a new class library with any non-static class.
2. Run docfx for that library.

**Expected Behavior**: All inherited members are linked.

**Actual Behavior**: Inherited methods from System.Object, like ToString or GetHashCode, are not linked. Inherited properties or events are properly linked ([example](ht

[2018-02-25 15:04] superyyrrzz commented on #2458
May be the same issue with #2448. Looks like when uid contains not letter characters like `(`, `)`, `` ` ``, xref service doesn't work.

[2018-02-26 01:50] vicancy commented on #1706
@MariusVolkhart a minimum repro step can be helpful for us to identify the issue.

[2018-02-26 02:35] MariusVolkhart commented on #1706
@vicancy a more detailed writeup of my scenario w/ steps to reproduce and sample project is filed at https://github.com/dotnet/docfx/issues/2448

Thanks for looking into this 😃

[2018-02-26 02:59] #2439 closed

[2018-02-27 16:05] surban opened #2471 "Remove "Copyright (c) Microsoft" from footer of default template"
**DocFX Version Used**: 2.31.0

**Template used**: `default`

The default template contains the footer text `Copyright (c) 2015-2017 Microsoft` which suggests that the generated content is copyright by Microsoft. Since this is not the case, this text should be removed.

![image](https://user-images.githubusercontent.com/1213857/36738943-0739feea-1bdf-11e8-882b-872977e2b68f.png)

[2018-02-28 09:56] dnperfors opened #2473 "Only generate wanted API's via attributes"
**DocFX Version Used**: 2.32

**Template used**: default

We are trying to document our 'published' api, which basically means all public members that are marked with a `PublishedAttribute` attribute. However I don't seem to be able to generate the correct filters for it.
Consider the following class:
[code]
In this case I only want documentation of `PublishedClass` and of `PublishedClass.Publishe

[2018-02-28 12:38] dnperfors commented on #2473
Never mind, I figured it out. The exclude will exclude the namespace containing the API as well, so the following config does work:
[code]

[2018-02-28 13:36] dnperfors commented on #2473
Trying out a lot of things does work, with the following filter I seem to have the correct behaviour:
[code]

[2018-02-28 13:36] #2473 closed

[2018-02-28 14:49] lipedeitos opened #2474 "Template not working on node2docfx yml generated files"
**DocFX Version Used**:  2.31.0

**Template used**: statictoc

**Steps to Reproduce**:

1. Got plenty of .md files inside "articles" folder.
2. Got node2docfx installed and configured, .yml files are generated in my "api" folder as expected:
[code]
3. Until now i have an "articles" and "api" folder with .md and .yml files
4. Open my  statictoc template add "abc" to the beginning of the body tag on

[2018-02-28 15:01] reinaldoarrosi commented on #2474
I'm also facing this issue. Any updates on this?

[2018-02-28 15:35] superyyrrzz commented on #2474
Other than default template, I should also update statictoc template to support js reference.

[2018-02-28 16:49] reinaldoarrosi commented on #2474
In my case I'm using a custom template based on the default template and the .yml files from node2docfx do not use my custom template.

- run `docfx template export default`
- copy _master.tmpl from _exported_templates/default/layout to mytemplatefolder/mytemplate/layout
- change docfx.json to look like this
[code]

When I run `docfx` all .yml files generated from a csproj will use the _master.tmp

[2018-02-28 18:10] ovasquez commented on #2220
Is there any way to help speeding up the support for typescript?

[2018-03-01 01:09] superyyrrzz commented on #2220
@ovasquez We still have some template issue to handle generic types of typescript, which will lead to missing link for them in html. We are now lack of resource to support this as typescript support is more complicate than expected.

[2018-03-01 01:32] superyyrrzz commented on #2474
@reinaldoarrosi This is caused by the template `UniversalReference.html.primary.tmpl` used by js ref doesn't use the layout `_master.tmpl`. Before I fix it, you can try adding it to your custom template like:
[code]

[2018-03-01 03:04] jaroslaw-weber commented on #2358
getting
[code]
under macos. i didnt understand the workaround you provided, could you elaborate? where is app.config?

[2018-03-01 03:59] vicancy commented on #2358
Hi @jaroslaw-weber The workaround is talking about a code level fix. You might wait until we release a fix.

[2018-03-01 16:57] lipedeitos commented on #2474
@superyyrrzz Thansk for your answer, i had not noticed that the `UniversalReference.html.primary.tmpl` was there in the default template, so have made a copy of the `UniversalReference.html.primary.tmpl` in my custom template, did some changes and it work as a workaround.

Cheers!

[2018-03-02 13:33] gabrielimmich opened #2483 "ignore namespaces that do not get the application and also ignore classes that do not contain the summary"
**DocFX Version Used**:  2.32.0.0

**Template used**: `default`

**Questions**:

1) I would like to know if it has the possibility to only bring the namespaces of the application itself ignoring the namespaces of the system and other namespace that do not belong to the application?

2) Is it possible to bypass Inherited Members that do not belong to my namespaces?

3) I would also like to ignore a

[2018-03-03 10:08] MKlimenko opened #2484 "Add support for Visual C++ (native) projects"
Visual Studio supports triple-slash comments for Visual C++ as well, so it would be extremly great to be able to parse C++ code files to extract API documentation.
Is there any way to make it possible?

[2018-03-05 02:00] #2358 closed

[2018-03-05 15:47] surban commented on #2450
In my opinion the best solution would be to include [KaTeX](https://github.com/Khan/KaTeX) as a plugin. It uses the same license as DocFX (MIT) and can be included into the resources of the generated website. Thus no external web resources would be required.

[2018-03-06 02:01] superyyrrzz commented on #2484
We have a tool supporting generate YAML for C++ and Java, which can be feeded to DocFX to generate API documentation. As there is no users actually using it for C++, I'm not sure whether it can work, but you can try this out:
https://github.com/docascode/code2yaml

[2018-03-06 08:58] pascalberger opened #2490 "Support _gitContribute on a per file level"
The "Improve this Doc" link should link to different respositories, for different sub-paths of the documentation (to avoid having to manage Git submodules). I tried to define metadata like this:

[code]
**DocFX Version Used**:
2.32.0.0

**Template used**: (`default` or `statictoc` or contain custom template)
default

**Steps to Reproduce**:

1. Add above configuration to docfx.json
2. Build docume

[2018-03-06 10:32] pascalberger commented on #2490
I managed to get the part of different `_gitContribute` settings per folder working if I define a `path`.

My remaining issue is now that I need to rewrite paths: For example `/some-subfolder/foo/bar.md` should link to  `https://git.mycompany.com/dev/Development.git/docs/foo/bar.md`. Is it possible to define a dynamic path for `_gitContribute.path`? So that I can use a fileMetadata setting and def

[2018-03-06 17:10] GeorgDangl opened #2491 "MSBuild errors when generating metadata for SDK based net461 project and VS 2017 15.6"
**DocFX Version Used**: 2.32.0

**Template used**: `default` with an additional custom css file

**Steps to Reproduce**:

1. [Checkout the repro project](https://github.com/GeorgDangl/Nuke.WebDeploy)
  The project uses `net461` as target framework.
2. Have at least Visual Studio 2017 15.6 installed (same issue with 15.6 Preview 7.0)
3.  Run `powershell ./build.ps1 BuildDocFxMetadata` at the soluti

[2018-03-06 19:30] fubar-coder opened #2492 "NullReferenceException in LinkPhaseHandler.ExportManifest"
**DocFX Version Used**:

2.32.1.0

**Template used**: (`default` or `statictoc` or contain custom template)

Derived default template (custom style and a little bit JS)

**Steps to Reproduce**:

1. Clone https://github.com/FubarDevelopment/WebDavServer.git
2. Run the latest docfx with the provided docfx.json

**Expected Behavior**:

Documentatioon generation without error.

**Actual Behavior**:

E

[2018-03-07 01:41] superyyrrzz commented on #2490
Hi @pascalberger, if you leave path unset instead of aissigning `""`, it can link to your specified `repo` and `branch`. The limitation is that the path in target repo should be the same as in original repo. Path rewriter is not supported now. Can this work for you?

[2018-03-07 06:41] pascalberger commented on #2490
@superyyrrzz Unfortunately not. One of the advantages of copying files together in a build script instead of using submodules is that I can rewrite paths. So they wont be the same in both repos. With submodules I would end with the whole path of the sub repository in the URL of the documentation.

We use this approach to aggregate documentation from different repositories which contain code and ac

[2018-03-07 06:53] superyyrrzz commented on #2490
DocFX supports rewriting path by adding `"src":"sub-folder/docs", "dest":"subfolder"` in docfx.json. Will submodule work for you with this setting? The advantage of submodule is that the git info can be extracted by DocFX automatically.

[2018-03-07 07:19] pascalberger commented on #2490
It's one of the disadvantages of submodules .Another one is that submodules always link to a specific commit. This can be useful in some situation, but in my case I always want to include the latest version of the documentation. Which means that for every change done in a sub repository, I also need to update the submodule in the aggregate repository, to have the change included in the documentati

[2018-03-07 07:24] pascalberger commented on #2490
Also I'm not sure the `src`/`dest` pattern works in my case. My struture might look like this:

- topic-folder
  - index.md
  - sub-repo-folder1
    - docs
      - index.md
  - sub-repo-folder2
    - docs
      - index.md
- sub-repo-folder3
  - docs
    - index.md

The aggregate repository itself also contains documentation (the `topic-folder\index.md`) which should be included without any path re

[2018-03-07 07:35] superyyrrzz commented on #2490
Totally agree it's the pain point of sub module, which makes us abandon it...

Here's a sample:
[code]

[2018-03-07 07:44] pascalberger commented on #2490
I'm not sure I can write globs for the specific entries. In your sample you list individual files, which is not practicable (or in which case I also could define specific _gitContribute metadata for each file). In my case I would like to say that `**\*.md` should be included, except for specific folders somewhere in the tree, which should be redirected.

As I understand from [here](http://dotnet.g

[2018-03-07 09:22] vicancy commented on #2491
How to sync with Microsoft.Build's latest update with little dev effort? Notification? Any ideas? @vwxyzh @superyyrrzz

[2018-03-07 09:56] superyyrrzz commented on #2490
Then it's like:
[code]

[2018-03-07 10:10] GeorgDangl commented on #2491
I looked at your PR, @vicancy. Am I correct to assume that I can use the [Microsoft.Build](https://www.nuget.org/packages/Microsoft.Build/15.5.180) NuGet package and supply the `Microsoft.Build.dll` within as `MSBUILD_EXE_PATH` parameter to DocFX to use it?

[2018-03-07 10:47] rahulkushwaha12 opened #2495 "docfx service giving 404 error while accessing through my local ip e.g. 172.16.2.170:8080"
![issue](https://user-images.githubusercontent.com/29196710/37088396-3914a024-2223-11e8-8334-8a5a21036843.PNG)

[2018-03-07 12:43] BogusMeteor opened #2496 "How to exclude constructors/implements section?"
Hello,

I would like to remove all constructors & implements sections from API Description (only methods should stay). Is it possible using filters or should i dig more into custom templates?

[2018-03-07 14:45] superyyrrzz commented on #2495
Can `http://localhost:8080` work? What's DocFX's output in your console?

[2018-03-07 15:07] pascalberger commented on #2490
@superyyrrzz Many thanks! Yes this solves the path rewriting case with sub modules.

Would still be nice to have path rewrite capabilities for `fileMetadata` / `_gitContribute` to get completely rid of submodules.

[2018-03-08 06:30] rahulkushwaha12 commented on #2495
Yes http://localhost:8080 is working fine and there is nothing printed on browser console. But when i changed the url to http://172.16.2.170:8080 i m getting below thing printed on browser console

[2018-03-08 10:22] jskeet commented on #2491
Same problem here. Here's a tiny repro:

Class1.cs:

[code]

VS156.csproj:

[code]

docfx.json:

[code]

Output from running docfx 2.32.1:

[code]

[2018-03-08 10:32] davkean commented on #2491
Looks like this: https://github.com/Microsoft/msbuild/issues/2997.

[2018-03-08 13:34] pascalberger opened #2504 "Invalid link for Improve this doc"
**DocFX Version Used**:
2.32.1

**Template used**: (`default` or `statictoc` or contain custom template)
default

**Steps to Reproduce**:

1. Create two repositories on TFS 2018 RTM
2. Add one as a submodule to the other (Commit linked to in the examples below is `048f13d15f2288c8806a81d0be4eca48a6566315`)
3. Create documentation in the repository containing the submodule
4. Check "Improve this do

[2018-03-08 13:36] pascalberger commented on #2504
Problem seems to be that [here](https://github.com/dotnet/docfx/blob/dev/src/docfx.website.themes/common/common.js#L98) always it is assumed that links always should go to a specific branch, which is not the case for submodules, which link to commits. So depending on whether an actual branch name or a SHA is passed, the link should go to `version=GB` or `version=GC`.

[2018-03-08 13:39] pascalberger commented on #2490
The files would still coming from other repositories, but I would do the clone myself and copy the relevant files into the folder structure of the parent repository.

Or would it be possible to copy the whole cloned Git repository inside the parent Git repository and have DocFx detect correct links?

[2018-03-08 15:58] superyyrrzz commented on #2490
Yes, DocFX can do it!

[2018-03-08 16:22] jancura commented on #2450
Thank for the suggestion. I do understand which direction it is pointing but do you have an example how could I set it up?  I understand that I download KaTex and then in the resource section of docfx.json I would specify where the KaTex is located but is that enough? I guess the HTML code generation of docfx would still need to figure it out that it needs to apply KaTex for rendering Latex formul

[2018-03-09 01:52] superyyrrzz commented on #2504
For github, branch and detached HEAD are identical when composing a URL. However, it's not the same for VSTS...

[2018-03-09 03:03] superyyrrzz commented on #2495
You can use `docfx.exe serve _site -n 127.0.0.1`.

With administrator privilege, you can also use `docfx.exe serve _site -n 172.16.2.170`.

[2018-03-09 06:06] vicancy commented on #2491
docfx leverages MSBuildLocator to resolve installed VS instances however it seems to fail resolving the instances according to https://github.com/Microsoft/MSBuildLocator/issues/17.
As a workaround, please set the following env before build: (mine is Enterprise version)
[code]

[2018-03-09 06:49] jskeet commented on #2491
That workaround isn't working for me, unfortunately. I've got the Community edition and I've changed both of the paths accordingly, but I'm seeing the same issue :(

[2018-03-09 07:56] rainersigwald commented on #2491
This is indeed Microsoft/msbuild#2997, which results from a mismatch between the Microsoft.Build.dll version and VS.

You can get the effects of #2494 without waiting for a docfx release by copying the VS-delivered MSBuild assemblies into the docfx folder next to docfx.exe, overwriting what's there. That worked for me against VS 15.6.1.

[code]

Having to update the MSBuild reference isn't ideal a

[2018-03-09 08:41] jskeet commented on #2491
@rainersigwald: Fabulous, thanks - I can confirm that workaround works for me.

[2018-03-09 10:47] KristianWedberg opened #2507 "yml uid missing BCL namespace"
**Template used**: `default`

A number of my xref links involving BCL types started raising "invalid cross reference" warnings (and the web page shows the xref text instead of a link) after upgrading from:
- docfx 2.31 to 2.32.1
- VS 2017 15.5 to 15.6.1

Likely unrelated, but I use "xrefservice" to get BCL links:
[code]
One symptom is that the related uid in the yml files are missing their namespa

[2018-03-09 14:19] benjamin-hodgson opened #2508 "h*::before CSS produces weird hovering behaviour"
**DocFX Version Used**: 2.32.2, tested in Chrome 64 on OSX

**Template used**: `default`

**Steps to Reproduce**:

1. Generate some API docs and open them in a browser
2. Hover over some of the section headings
3. Look at the heading tags in the inspector

**Expected Behavior**:
Heading anchor links should appear when hovering over the heading.
Headings should not overlap each other.

**Actual Beh

[2018-03-09 14:54] superyyrrzz commented on #2507
I still not quite understand your input and output. Can you give a minimal reproduce step?

[2018-03-09 17:43] benjamin-hodgson opened #2509 "API doc pages for large classes perform very badly on the front end"
**DocFX Version Used**: 2.32.2, tested on OSX in Chrome 64 and Firefox 57

**Template used**: `default`

**Steps to Reproduce**:

1. Generate API documentation for a large class (the one I used has around 2500 methods; its generated HTML is around 6.5MB).
2. Try to look at the documentation in a browser

**Expected Behavior**:
Can view the docs relatively quickly

**Actual Behavior**:
The page tak

[2018-03-09 18:07] KristianWedberg commented on #2507
One of the methods that had the warning and faulty-looking yml file looked like below.

Now though I can't replicate the issue, might e.g. have been an oddity related to the upgrade, that went away when I did a thorough cache clean. I'll close it for now.

Cheers!
Kristian

[code]

[2018-03-09 18:07] #2507 closed

[2018-03-09 18:50] benjamin-hodgson opened #2512 "ValueTuples don't show up properly"
**DocFX Version Used**: 2.32.2

**Template used**: `default`

**Steps to Reproduce**:

Generate API docs for a method which features a `ValueTuple` in its type. I happened to spot it with an implicit conversion:
[code]

**Expected Behavior**:

The correct tuple type shows up in the generated HTML

**Actual Behavior**:

The type is missing:

![](https://i.imgur.com/ISL8WOp.jpg)

[2018-03-10 09:59] John0King opened #2513 "A few project not generate document"
**DocFX Version Used**: 2.32.2

**Template used**: `default`

**Steps to Reproduce**:

1. doxfx init  and change  `metadata:src:files[0]` to `src/**/*.csproj`
2.  copy my project to `src` folder (there are 15+ project in `src`,`test`,`usedLib` and `server` folder)
3. doxfx
3. doxfx serve

**Expected Behavior**:
My project  has the document for my `xxx.Models.csproj`
**Actual Behavior**:
There not

[2018-03-12 01:49] vicancy commented on #2513
Questions:
1. Does the project xxx.Models.csproj contains public classes?
2. Is the project multi-targeted? If yes, you have to specify the `TargetFramework` as https://github.com/dotnet/docfx/issues/1254#issuecomment-294080535 indicates
3. Any warnings when generating document for that project?

You can also attach your minimum-repro project for us to take a look.

[2018-03-12 01:52] vicancy commented on #2508
Yes this does feel wired. The css is to workaround https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors. It is really tricky, and we are very welcome PRs to fix it.

[2018-03-12 04:07] bobi-no commented on #2076
@928PJY I see this was closed and labeled **wontfix** . But I do not understand. I am having the same issue with the VSC DocFX 0.1.1 extension, except it refuses to display plain text (from a file saved with the .md file extension where the text has no syntax markers around it). The DocFX extension shows as published by Microsoft with no dependencies. It does the same if I take .md files coming fr

[2018-03-12 07:42] #1982 closed

[2018-03-12 08:07] #2509 closed

[2018-03-12 13:04] benjamin-hodgson commented on #2508
Ah, thanks, I understand what it's for now. Perhaps it'd be better to do the fixed-header workaround in JS (ie, add some code which says "scroll up 100px" to an `onhashchange` handler), rather than by messing with the height of the elements in CSS. I'll try that out and throw up a PR for review if I get it working.

[2018-03-12 15:24] zsong opened #2517 "Invalid file link"
**DocFX Version Used**:
2.32.2

[18-03-12 02:57:06.880]Warning:[BuildCommand.BuildCore.Build Document.LinkPhaseHandlerWithIncremental.TocDocumentProcessor.Save](toc.yml)Invalid file link:(~/api/myproj/index.md).

docfx.json
[code]

[2018-03-12 17:04] benjamin-hodgson opened #2518 "crefs to built-in types don't show up properly"
**DocFX Version Used**: 2.32.2

**Template used**: `default`

**Steps to Reproduce**:

1. Set up `docfx.json` for BCL xrefs (ie `"xrefService": [ "https://xref.docs.microsoft.com/query?uid={uid}" ]`)
2. Write an xmldoc containing a reference to a built in type (eg `<see cref="System.Int64"/>`). [Real-world example](https://github.com/benjamin-hodgson/Pidgin/blob/b2cad35c2cc80a6dbe15d1abbb921bf3882

[2018-03-13 02:36] superyyrrzz commented on #2517
Is your `index.md` located in `../myproj/index.md`? If so, please move it to `api/myproj/index.md`. DocFx generates m0etadata YAMLs into `api` folder, but will not copy markdown files into it.

[2018-03-13 08:25] John0King commented on #2513
@vicancy  Thanks, It work now after I specify the TargetFramework.

[2018-03-13 08:25] #2513 closed

[2018-03-13 13:57] Herrmel commented on #2451
@Herve-M did you get it to work? I just can't even though I tried every possible configuration I could imgaine xS

[2018-03-13 23:29] pascalberger commented on #2490
@superyyrrzz Thanks! Copying the whole repository inside the parent repository works fine.

[2018-03-15 01:57] #2508 closed

[2018-03-15 03:13] JuanZamudioGBM opened #2523 "Problems with <code source=""> and paths"
**DocFX Version Used**:
docfx 2.32.2.0 and nuget package docfx.console 2.32.2 in windows 10 with VS2017 15.6.2

**Template used**: default

**Steps to Reproduce**:
I'm getting warnings like this `Warning:[MetadataCommand.ExtractMetadata]Source file  not found.` when in my classes I use this:

[code]

At first my examples were in another project but at the end I copied the example class to the main

[2018-03-15 08:19] vicancy commented on #2518
`!:System.Int64` means that the class is not correctly resolved. Is it netcore project? did you try `dotnet restore` before `docfx metadata`?

[2018-03-15 11:53] benjamin-hodgson commented on #2518
Yes, it's a .NET Standard library with a new-style csproj. I am restoring packages at the start of my build process, and crefs to other BCL types do seem to be resolved properly. I think it's just the built-in ones that this affects.

[2018-03-15 15:12] lwchkg commented on #2426
+1

[2018-03-15 19:56] JuanZamudioGBM commented on #2523
It has something to do with the path of my project, I tried to create a repo but there were no errors, so I copied my solution to another folder, deleted the docfx and everyting went well.

The original path of my solution was
C:\TSGit\Repos\common-libraries-core\src

The folder when it succeeded was
C:\pocs\docfx-pdf

Maybe its choking in the double hyphen in the folder name?

[2018-03-16 01:12] vicancy commented on #2518
Unable to repro it locally. Could you provide a minimum project that repro this issue? for me, I create a simple `netcore2.0` project with:
[code]
And when running `docfx metadata` it produces yml file inside `_api/ConsoleApp4.Program.yml` containing:
[code]
This `xref` tag will then be resolved through xref service.

[2018-03-16 03:42] superyyrrzz commented on #2490
Close as this feature seems not required as DocFX can extract proper git information from cascase git repo.

[2018-03-16 03:42] #2490 closed

[2018-03-16 09:19] #2495 closed

[2018-03-19 02:44] superyyrrzz commented on #2220
v2.33 supports TypeScript: http://dotnet.github.io/docfx/tutorial/universalreference/gen_doc_for_ts.html

[2018-03-19 02:49] superyyrrzz commented on #915
v2.33 supports TypeScript: http://dotnet.github.io/docfx/tutorial/universalreference/gen_doc_for_ts.html

[2018-03-19 02:49] #915 closed

[2018-03-19 09:21] crazyfx1 commented on #2220
Great news.

Is there some additional documentation for the `ts-reference-ci-scripts` tool? It seems like it is checked in on a private vsts. I always get the message `No source file for mypackage`.

[2018-03-19 18:05] bitfringe opened #2531 "Support for "Derived Class" type of functionality for interfaces"
**DocFX Version Used**: 2.32

**Template used**: `default`

**Steps to Reproduce**:

1. Have code with interface and a class that implements that interface
2. Generate metadata, build the docs
3. Look at the generated interface API reference page

**Expected Behavior**:
See a list of implementations of current interface that I am browsing.

**Actual Behavior**:
Interface has no idea what implement

[2018-03-19 20:13] darylrobbins opened #2532 "Error extracting metadata for project : An item with the same key has already been added"
**DocFX Version Used**: 2.33

**Template used**: `default`

**Steps to Reproduce**:

Paths have been anonymized to protect the innocent.

1. Execute `docfx metadata C:\Users\someuser\Code\SomeProject\Module\SomeLibrary.Shared\SomeLibrary.Shared.vbproj -f`

**Expected Behavior**:
Successfully generates metadata

**Actual Behavior**:
Metadata generation fails with the following error:
[code]

**Note

[2018-03-20 00:33] JimBobSquarePants commented on #1862
Creating a theme here shouldn't be a concern of the core project, rather simplifying the creation of themes should be.

There are serious markup, css styling and accessibility issues with the default templates and I would suggest getting someone with UX/frontend skills involved to help clean it up.

I've noted in an attempt to style the default output:

- Removal of outline styles.
- Lack of aria

[2018-03-20 00:39] JimBobSquarePants commented on #1143
Can this not be achieved using CSS? `:nth-of-type()` or `:nth-child()`. Using empty divs is a poor fix.

[2018-03-20 07:30] vicancy commented on #2532
Hi @darylrobbins Could you share a minimum project that can repro the issue to us?

[2018-03-20 18:09] #2029 closed

[2018-03-21 02:03] JimBobSquarePants commented on #1862
Hey @yufeih long time no chat! 😄

When you get around to making plans for vnext more concrete I'd love to help so please let me know.

[2018-03-21 03:58] vicancy opened #2534 "Setup coding styles"
Including StyleCop, folder layout, class organization and Contributions.md documentation

[2018-03-21 04:00] vicancy opened #2535 "Add documentation on vNext Roadmap, design specs, and issues"

[2018-03-21 04:00] vicancy opened #2536 "Build script for build vNext including build, test and publish"

[2018-03-21 11:09] Skudnoff opened #2538 "Tabbed content switch doesn't work if Tab name contains not plain text"
**DocFX Version Used**:  2.31

**Template used**: default

**Steps to Reproduce**:

1.  Add a markdown document with text like this in the project
[code]

2. Build the docfx project
3. Open result document in a browser

**Expected Behavior**: Page with tabbed content that can be switched

**Actual Behavior**: Tabbed content can't be switched

Click event handling doesn't work if you click somethin

[2018-03-21 13:12] Herrmel opened #2539 "Docfx fails generating Metadata for some .dll and .exe files after updating to 2.33"
**DocFX Version Used**: 2.33

**Template used**: `default`

**Steps to Reproduce**: Can't give a problemspecific examplecode yet

**Expected Behavior**: Extracts Metadata like it does in 2.32

**Actual Behavior**: stops with an Error saying: "Error extracting metadata for {list of all dll and exe files specified in metadata}: Object reference not set to an instance of an object"

I can track down

[2018-03-21 18:01] bitfringe commented on #2410
Encountered same issues. Readability is a bit impaired when reading declaration syntax containing generic type constraints.

**Code example**:
[code]

**Expected** declaration syntax for method `DoSomething` in generated docs:
[code]

**Actual result:**
[code]

Note the ***missing space*** between **)** and **where**.

**Solution**

Update *Microsoft.CodeAnalysis.CSharp* from *2.6.1* to *2.7.0*.

[2018-03-22 03:04] vicancy commented on #2539
Are you using Merge command? Could you provide a minimum repro step so I can look into the issue?

[2018-03-22 03:05] vwxyzh commented on #2410
@bitfringe thank you for your investigation, we will update package next release.

[2018-03-22 03:29] #2448 closed

[2018-03-22 03:35] superyyrrzz commented on #2410
The following issue is created for highlight issue:
https://github.com/isagalaev/highlight.js/issues/1714

[2018-03-22 08:36] IgorAtDigi opened #2542 "Is it possible to render Project-Version-Number?"
**DocFX Version Used**:  Current

**Template used**: `default`

Hi, my Company is using Docfx for documentationen and everything works fine, but the question we've got is: Our Projects safe their current Version-Number in the AssemblyInfo, so we were curious, if it's possible for docfx to take that Version-Number and render it to the Documentationen. Like with an Placeholder on the Index-site or a

[2018-03-22 08:53] superyyrrzz commented on #2542
Thanks for supporting!

Do you want DocFX to extract the version info from assembly? DocFX doesn't support this by default, but you can [create an plugin](http://dotnet.github.io/docfx/tutorial/howto_build_your_own_type_of_documentation_with_custom_plug-in.html) to extract the info into model, then [customize the template](http://dotnet.github.io/docfx/tutorial/howto_create_custom_template.html) t

[2018-03-22 08:56] superyyrrzz commented on #2471
fixed in v2.33

[2018-03-22 08:56] #2471 closed

[2018-03-22 08:59] superyyrrzz commented on #2496
It need to customize the template.

Remove [this](https://github.com/dotnet/docfx/blob/dev/src/docfx.website.themes/common/ManagedReference.common.js#L168) can remove constructors.

Remove [this](https://github.com/dotnet/docfx/blob/dev/src/docfx.website.themes/default/partials/class.header.tmpl.partial#L18-L27) can remove implements.

[2018-03-22 09:00] superyyrrzz commented on #2504
fixed in 2.33

[2018-03-22 09:00] #2504 closed

[2018-03-22 10:46] Herrmel commented on #2539
No I dont use merge. Thats the problem...since im not allowed to give you the full file I will have to find the reason thats causing the error in these files but I dont know what to look for.

[2018-03-22 13:14] evil-shrike opened #2543 "Suggestion: make docfx to support to be inclued as a part in a site generated by other tools"
Make docfx to play well with other tools. I already have a static site generated by my toolset. And I want to include several areas with api doc generated by docfx. For example for TS and .NET APIs. Currently I have to customize docfx template heavily. I have to change templates, css, js. As docfx assets aren't at the site root, they are inside a area (like /client-api and /server-api). And I don'

[2018-03-22 14:48] bitfringe commented on #2410
Disclaimer: I'm not familiar with how Roslyn works at all and that was just my first glance and I might be wrong. @vwxyzh @superyyrrzz guys please do your own investigation.

There are a couple other things that might be of interest and I am not entirely sure if you already use them:
- `Microsoft.CodeAnalysis.Formatting.Formatter.Format` seems to be the "preferred" solution for formatting the sour

[2018-03-22 14:56] bitfringe commented on #2542
I have the same requirement. Quick and dirty solution I used:
- Get the build version in my build scripts (either from project file, CI worker thats doing the build, env variable, whatever really)
- Use regex to inject/replace that version number as custom json property ("_docsVersion" on my case) into either docfx.json -> globalMetadata node, or use globalMetadataFiles and inject the version numb

[2018-03-22 22:49] cedar-ave opened #2544 "Main nav bar does not collapse when items are added to the dropdown"
**DocFX Version Used**: 2.32.2

**Template used**: (`default` or `statictoc` or contain custom template) default + custom

**Steps to Reproduce**:

1. Add dropdown items to the main nav bar
[code]
**Expected Behavior**: In this example, the nav bar would expand when you hover over "API"

**Actual Behavior**: The "dropdown" items are permanently stacked in an open position

![2018-03-22 16_43_46-mi

[2018-03-22 23:09] cedar-ave opened #2545 "Section of Markdown files at top of left-side nav bar for API documentation page"
**DocFX Version Used**: 2.32.2

**Template used**: (`default` or `statictoc` or contain custom template) default + custom

Is it possible to add articles in the left-side nav bar of a page of API documentation? This is a mockup:

![2018-03-22 16_53_14-namespace microsoft docascode _ docfx website](https://user-images.githubusercontent.com/15255009/37803317-b1dedee4-2df3-11e8-8814-5b3188fe1d30.png)

[2018-03-23 01:15] vicancy commented on #2539
Hi Herrmel, you can `git clone` our repo and do a local debug, no preparation steps, open `All.sln` is enough to build I believe.

[2018-03-23 01:50] vicancy commented on #2545
Yes you can with the help of http://dotnet.github.io/docfx/tutorial/intro_toc.html#link-to-another-toc-file, following these steps, take docfx-seed repo as an example
1. Add a folder and create a toc.yml, e.g. `fusion/toc.yml` with content:
[code]
2. Update the root toc.yml, change the API reference `href: obj/api/` to `href: fusion/`:
[code]
3. Add fusion folder to docfx.json:
[code]
4. The gener

[2018-03-23 02:03] #2538 closed

[2018-03-23 02:07] vicancy commented on #2538
Hi @Skudnoff we will release the version on April 6th as the usual release plan, if you'd like a hotfix for it, please call out.

[2018-03-23 02:15] vicancy commented on #2543
Hi @evil-shrike thanks for your suggestions.

For the scenario you mentioned, if client apis are saved to `/api/client-api`, server apis are saved to `/api/server-api`, while style files are in `/api/styles`, can that solve the issue loading twice?

[2018-03-23 02:17] vicancy commented on #2544
Yes, currently only 1 level navbar is supported....... Need css/js/html update to support deeper levels.

[2018-03-23 03:29] xen2 opened #2547 "Error with enum flags in attributes"
**DocFX Version Used**: 2.33.1

**Template used**: unrelated

**Steps to Reproduce**:

1.  Create a project with following code:
[code]

2. Run docfx metadata on it

**Expected Behavior**:

Works

**Actual Behavior**:

Fails: `Error:Error extracting metadata for <projectnames>: The given key was not present in the dictionary.`
I ran a debug session and it seems `RoslynFilterData.GetLiteralString`

[2018-03-23 12:06] evil-shrike commented on #2543
@vicancy well I guess it's not very important where styles particularly located, it's about an ability to customize links to them.
In my case I have the following structure:
[code]

[2018-03-23 12:15] evil-shrike commented on #2543
I'm not saying that currently it works badly, it's definitely possible to customize anything. But it requires extracting and overriding the template. It leads to the situation when it becomes pretty hard to upgrade docfx to newer versions. Because it implies pretty complex activities. Particularly we have to do the followings:
* compare original template to customized template
* understand what an

[2018-03-23 15:56] cedar-ave commented on #2545
@vicancy This worked perfectly - thank you. I submitted a PR with this example added to the documentation.

[2018-03-23 15:57] cedar-ave commented on #2544
Thank you @vicancy

[2018-03-26 01:37] vicancy commented on #2543
Yes @evil-shrike I agree with you. Current template system exposes the entire html DOM, it sounds flexible, however it is too flexible that it is hard to maintain. We are in a way to rephrase the experience in *v3.0* (with breaking changes). The initial idea is to hide the html DOM but provide rich options to customize the template. It is still in very early stage, and please feel free to provide

[2018-03-27 07:31] Herrmel commented on #2539
Ok did that but doesnt work with that version as well and got some unhandled Exceptions where I only got warnings before. I also tested 2.33.1 same result as with 2.33. I'll try to ask someone responsible for the specific files if they have any idea but it might take some time since everyone is on vacation currently. If you have any other ideas let me know.

[2018-03-27 09:53] Herrmel commented on #2539
Ok tried debug on another machine now and works there. I get a NullReferenceException in "Microsoft.DocAsCode.Metadata.ManagedReference.Roslyn.dll". After further inspection I found out that in GetLiteralString() in RoslynFilterData.cs the var value is null and then it tries to call toString(). when I change value.ToString() to value?.ToString() it goes through but I get a lot of Popups like this

[2018-03-27 13:20] Herrmel opened #2553 "XML syntax-highlighting in markdown does not work as intended"
**DocFX Version Used**: 2.33

**Template used**: `default`

**Steps to Reproduce**:

1. Create Markdownfile with xml code highlighting
2. Build in Docfx
3. Look result on website

**Expected Behavior**:Rendered like in Github:
[code]
[code]

**Actual Behavior**: Sometimes its just wierd: (example1)
![image](https://user-images.githubusercontent.com/36636591/37969492-30f8f544-31d1-11e8-99e8-f4bcd39

[2018-03-27 15:07] lion92pl commented on #1253
@djwork add below line to your `build` section in docfx.json:
`"template": [ "statictoc" ]`
With this, opening index.html works well.

[2018-03-28 01:27] vicancy commented on #2539
Looks like the `pair.Value` is null in `GetAttributeFilterData`
![image](https://user-images.githubusercontent.com/668244/38003324-b31560ba-3269-11e8-9ac4-0e9fe54d3bc0.png)

Could you share the value of `attribute.NameArguments` for `GetAttributeFilterData`?
This method is called by:
![image](https://user-images.githubusercontent.com/668244/38003406-fdadc4e6-3269-11e8-9c19-388ea2231277.png)
![imag

[2018-03-28 01:36] vicancy commented on #2553
What dos * xml code highlighting* mean? I don't think docfx supports it.
As you mentioned *Expected Behavior:Rendered like in Github:*, do you mean that GitHub supports this syntax? Could you explain how does GitHub support this? I am not aware of that.

[2018-03-28 02:57] vicancy commented on #2553
Get what you mean. Should be a `highlight` bug.

[2018-03-28 03:43] superyyrrzz commented on #2553
the latest version 9.12 of highlight.js fixed this issue.

[2018-03-28 06:32] #2542 closed

[2018-03-28 08:33] Herve-M commented on #2451
@Herrmel No.. The version of vwxyzh do nothing.. I think the attribut is ignored or even not parsed. The message one is included as code directly at first sight,

[2018-03-28 13:23] dougclutter opened #2561 "How to include a (C#) internal class?"
**DocFX Version Used**: 2.33.0

**Template used**: default

**Steps to Reproduce**:

1. I have an internal class that I would like to include in the API docs
2. Added "include" to filterConfig.yml  (details below)

**Expected Behavior**:
The filterConfig.yml is referenced in the docfx.json file.  We know this is working because we are excluding some classes.

Added the following to filterConfig.ym

[2018-03-28 23:09] miketabet opened #2562 "DocFX fails when importing targets files in csproj files"
**DocFX Version Used**: 2.33

**Template used**: DocFX vsts build step here:  https://marketplace.visualstudio.com/items?itemName=chrismason.vsts-docfxtasks

Issue was tracked down to metadata build step.  Build machine configuration:  VS 2015 using VSTS build agent.

Investigation reveals this issue seemed to appear around version 2.26.  Based off the error, it seems likely the the search path fo

[2018-03-29 02:11] vicancy commented on #2562
Possibly related to https://github.com/Microsoft/MSBuildLocator/issues/18 as we leverage MSBuildLocator to find VS instance however it does not currently support VS2015.
Hi @miketabet To workaround your issue, is it possible that you update to use VS2017 VSTS build agent?

[2018-03-29 03:54] OsmondJiang opened #2564 "Git Support"
Git support:
a. Git Library
b. Git History Retrieve
c. Dependencies Restore
d. Package Management

[2018-03-29 07:20] vicancy opened #2568 "CLI framework"
`CommandLine`

[2018-03-29 07:28] shadow-cs commented on #2347
PlantUML **server** is not generally required since PlantUML may be executed as standalone app (via Java) and supplied externally as an argument. It also requires graphviz to be installed and visible though the search path.

PlantUML does support SVG output which is ideal for web presentation (GitLab uses PNGs which offer better compatibility but worse visuals).

Recently I enjoyed using [vscode-m

[2018-03-29 16:13] miketabet commented on #2562
I don't think there's a specific VS 2017 agent, but we'll try a side by side install and see if that works.  Thanks for the feedback.

[2018-03-29 21:33] miketabet commented on #2562
Installing VS 2017 build tools on the build machine seems to have resolved the issue - thanks for the guidance!

[2018-03-30 07:13] vwxyzh commented on #2561
@dougclutter removing internal classes/members is hard code logic in [default filter](https://github.com/dotnet/docfx/blob/dev/src/Microsoft.DocAsCode.Metadata.ManagedReference.Roslyn/Visitors/DefaultFilterVisitor.cs#L114).

[2018-03-30 09:11] #2547 closed

[2018-03-31 17:59] iglezos opened #2576 "visual studio c# console application outside DocFX src folder does not create documentation"
**DocFX Version Used**: 2.33.1.3

**Template used**: `default`

**Steps to Reproduce**:

1. I have downloaded and unzip DocFX to a folder
2. I have created a dummy .net4.0 console application
3. I have created DocFX default project with ..\docfx\docfx init -q in the console application folder
4. I have changed default src to
"src": [
        {
          "files": [
            "**.csproj"

[2018-04-02 02:25] vicancy commented on #2576
Hi @iglezos is there any `public` classes in your console app? Only `public` ones are extracted to generate docs.

[2018-04-02 06:32] vicancy opened #2578 "Config"
# Design:
- [x] Design `docfx.yml`

# Implement:
- [x] content
- [x] metadata: fileMetadata, globalMetadata
- [x] routes
- [x] extend
- [x] merge with cli config

# Others configs ships with feature:
- monikerRanges, monikerDefinition
- documentId
- fragments

[2018-04-02 06:35] vicancy opened #2579 "Razor template"

[2018-04-02 06:36] vicancy opened #2580 "Rendering layer"

[2018-04-02 06:36] vicancy opened #2581 "Parse TOC"

[2018-04-02 07:05] #2534 closed

[2018-04-02 07:12] vicancy opened #2582 "YamlUtility"
One idea is to stream with `YamlSerialization` and parse with `Newtonsoft.Json`

[2018-04-02 07:13] vicancy opened #2583 "JsonUtility"

[2018-04-02 07:13] vicancy opened #2584 "Glob"

[2018-04-02 07:14] vicancy opened #2585 "RelativePath"

[2018-04-02 07:23] vicancy opened #2586 "Logging, progress and telemetry"
We need:

- [x] Report to show errors and warnings to end users (output to `stderr`)
- [x] Log to help us diagnostics issues (output to `stdout`)
- [x] Progress to show build status
- [ ] ~~Telemetry connected to application insights to track usage~~

@OsmondJiang @herohua

[2018-04-02 09:26] iglezos commented on #2576
As you can see from attached zip file there is a public class
public class Math {
...
}

[2018-04-02 09:30] iglezos commented on #2576
hello,
the actual problem was that the public class was outside the namespace of the .cs file.
Thank you.

[2018-04-02 09:30] #2576 closed

[2018-04-02 16:40] bitfringe opened #2589 "Ordering of enum members, and others"
[OrderBy in this line](https://github.com/dotnet/docfx/blob/fe619100fce86b1080038b7484127ef71c41a70e/src/Microsoft.DocAsCode.Metadata.ManagedReference/YamlViewModelExtensions.cs#L249) causes enum members to be ordered by alphabet. Other code members are reordered as well. This is kind of an issue, because specifically enums no longer match the code organization in source files. In some cases it ma

[2018-04-03 09:12] Herrmel commented on #2539
`attribute.NameArguments` for each case the Error ocurrs:
[code]
`symbol.ToDisplayString`:
`"Fis.Dekoder.Configuration.ConsoleElement.WriteExtendedData"`
and
`"Hermos.Utilities.SpecialFoldersSection.DefaultVersionIsolationLevel" `

Hope I got all relevant Data from `NamedArguments`. Some of our files are using C#7.2 but not the files where I'm getting the error's.

[2018-04-03 15:03] dougclutter opened #2591 "TOC is collapsed after a selecting a child item from the TOC"
**DocFX Version Used**: 2.32.2

**Template used**: default

**Steps to Reproduce**:

1. Create a hierarchy of Articles in toc.yml
2. Generate site
3. View site, select a child item of a TOC entry

**Expected Behavior**:
Child item should be displayed and the TOC should remain open on the selected child item.  This is the behavior of the docfx documentation site.

**Actual Behavior**:
Child item is

[2018-04-04 04:55] vwxyzh commented on #2539
Is it same issue with #2547?

[2018-04-04 13:51] devLucius commented on #2292
Hi! I would like to test your plugin but i need some instruction how to install on my setup.
I am using Windows 10 with VS2017.
Thanks!

[2018-04-04 21:12] Herrmel commented on #2539
I dont think so. I dont get `The given key was not present in the dictionary` in the Error message, I get `Object reference not set to an instance of an object`. It calls `ToString()` on a Null value. But the Error occurrs in the same Method though.

[2018-04-05 05:28] sandorfr commented on #2292
@devLucius

As mentionned above you need to install the prerequisities (mermaid cli and graphviz).

Then the steps are the same as with an other plugins, except for the source which is from another feed which you'll need to register first ( https://docs.microsoft.com/en-us/nuget/tools/cli-ref-sources ).

In addition, I'd highly recommand using Visual Studio Code instead as you will have the live p

[2018-04-05 06:42] jeikabu commented on #2131
Chiming in that we'd love to see this as well.
We use this feature with Sandcastle pretty heavily and is probably the main thing keeping us from moving the documentation for our C# API to docfx.

[2018-04-05 11:01] jaredcnance opened #2594 "Feature: Generate Documentation From Tests"
I would like to be able to generate HTTP API documentation from end-to-end acceptance tests. Prior art exists for other frameworks/languages:

- (Ruby | Rails) [dox](https://github.com/infinum/dox)
- (Ruby | Rails) [rspec_api_documentation](https://github.com/zipmark/rspec_api_documentation)
- (Elixir | Phoenix) [bureaucrat](https://github.com/api-hogs/bureaucrat)
- (Java | Spring) [Spring REST Do

[2018-04-05 14:16] Roraa opened #2595 "Define log file location (for docfx.console)"
**DocFX Version Used**: 2.33.0 (docfx.console)

**Template used**: default

**Expected Behavior**:
User can define a logfile location in the docfx.json config file

**Actual Behavior**:
The user can't define a logfile location, the log is always written to the same directory as the docfx.json

[2018-04-05 17:00] Aaronontheweb opened #2596 "Cross-site DocFx site linking"
This is more of a capabilities question than anything else.

I love DocFx and use it on several major projects, most of which are open source. Suppose I do the following:

1. Ship open source library A and publish documentation for it at a.foo.com
2. Ship open source library B, which depends on A, and I publish documentation for it on b.foo.com

Is it possible (or, _could_ it be possible) to have

[2018-04-06 04:52] mmaitre314 opened #2597 "Using the search box before the search index is ready shows no result"
**DocFX Version Used**: 2.33.2

**Template used**: `default`

**Steps to Reproduce**:

1. Open http://dotnet.github.io/docfx/tutorial/docfx_getting_started.html
2. Right away enter 'started' in the search box

**Expected Behavior**: after the index is loaded, shows a list of search results

**Actual Behavior**: the message 'Search Results for "started"' is displayed and nothing else happens.

Ther

[2018-04-07 16:43] LouisMT opened #2599 "Attributes are not included in generated API documentation"
**DocFX Version Used**: 2.34

**Template used**: `default`

**Steps to Reproduce**:

1. Apply an attribute to a property or method (for example `[JsonIgnore]`)
2. Run `docfx docfx_project/docfx.json --serve`
3. View documentation for the class

[Example project](https://github.com/LouisMT/DocFxAttributeTest) (see `SomeModel` class)

**Expected Behavior**:

The `[JsonIgnore]` attribute should be di

[2018-04-07 18:35] LouisMT commented on #2599
Okay, I need to restore NuGet packages for this to work.

This makes it a bit difficult to run DocFX on Docker (Linux, using Mono) using a .NET Core project, because I'll need both Mono and .NET Core in a single image. But I guess this'll become much easier with #138!

[2018-04-07 18:35] #2599 closed

[2018-04-08 07:53] OsmondJiang commented on #2564
#2600

[2018-04-09 02:02] vicancy commented on #2595
Hi @Roraa with `-l <logFileName>`, you can use relative path or absolute path for `logFileName`, for example, `E:\logs\1.log` and `logs\1.log` are both supported.

[2018-04-09 02:07] vicancy commented on #2561
Hi @dougclutter could you help us to understand your scenario? why you'd like internal classes included? And why do customer want to see internal classes?

[2018-04-09 02:31] vicancy commented on #2539
Repro-ed with:
[code]

[2018-04-09 11:14] Roraa commented on #2595
Hi Vicancy, thanks for the reply! Could you help me out in configuring that for the DocFX.Console nuget package? We don't execute docfx ourselves, we use the nuget package instead which adds targets to the msbuild pipeline.

[2018-04-10 01:45] vicancy commented on #2595
Hi @Roraa you can overwrite `LogFile` property in your `.csproj` before import `docfx.console.targets`, as similar to:
[code]

[2018-04-10 06:44] Roraa commented on #2595
@vicancy thanks, we don't have a ```docfx.console.targets``` import so I added the property group in the top of our csproj and it's working now :+1:

[2018-04-10 06:44] #2595 closed

[2018-04-10 11:56] Herrmel commented on #2553
Thank you

[2018-04-10 11:56] #2553 closed

[2018-04-10 12:00] Herrmel commented on #2451
@vwxyzh Could you have a look at this?

[2018-04-10 15:53] sahammer commented on #2076
I have also experienced this error, it is specifically with the [DocFX](https://github.com/dotnet/docfx/tree/dev/tools/VscExtension) extension that in installed with the new Docs Markdown extension:

https://docs.microsoft.com/en-us/teamblog/docs-extension

I believe this is caused by a user profile that has a space in it. This issue should be re-opened.

[2018-04-10 15:57] sahammer opened #2612 "Child Process Error DocFX VSCode Extension"
**DocFX Version Used**: 0.1.1

**Template used**: Custom [Microsoft Docs Extension](https://docs.microsoft.com/en-us/teamblog/docs-extension)

**Steps to Reproduce**:

1. Create a markdown file
2. Press Alt-M and select preview
3. [Child process Error]: 'C:\Users\Sterling' is not recognized as an internal or external command,
operable program or batch file.

**Expected Behavior**: A preview should

[2018-04-10 16:15] Still34 commented on #2561
While I think internal should rarely be exposed into a public API documentation, sometimes if the XML docs refers to something that's internal, that should probably be addressed. Either by showing the docs that's not shown publicly in the API list or transforming the type into a normal string.

[2018-04-10 16:33] sahammer commented on #2612
Additional context,

I believe the issue is here:

docfx/tools/VscExtension/src/Proxy/requestProxy.ts

With the following:

[code]

[2018-04-10 19:38] dougclutter commented on #2561
Hi @vicancy one of the things that we've decided to do is make our Entity Framework DbContext classes internal.  We do this because we don't want programmers working on the UI or API to be able to create arbitrary queries against the database.  However, we're constantly creating business objects that use the DbContext, so we'd like to include it in our docs.

Unlike many of your users, we are gene

[2018-04-10 19:43] dougclutter commented on #2591
Hi @superyyrrzz - actually I've tried it both ways (e.g. - pointing at a separate toc.yml that is included *or* putting everything in one toc.yml).  Both approaches have the same result.

For an example of what I mean, go to this page: http://dotnet.github.io/docfx/api/Microsoft.DocAsCode.FileMappingItem.html

Notice that the menu on the left is expanded *and* the selected item is highlighted in g

[2018-04-11 05:24] herohua opened #2616 "DDT framework for functional test"

[2018-04-11 06:15] OsmondJiang opened #2617 "Restore dependencies"

[2018-04-11 13:07] dougclutter commented on #2561
@vwxyzh Yes.  I'd like to be able to:
1. Include specific internal classes that I specify in the filters
2. Include specific private properties/methods that I specify in the filters

[2018-04-11 13:43] jskeet opened #2620 "Single-letter namespace aliases cause resolution failures"
**DocFX Version Used**: 2.32.1

**Template used**: n/a

**Steps to Reproduce**:

Three files:

`Aliases.csproj`:

[code]

`Class1.cs`:

[code]

`docfx.json`:

[code]

Then just run `docfx metadata -f`

**Expected Behavior**:

No warnings or errors.

**Actual Behavior**:

[code]

This appears to happen for any single-letter namespace alias. Notice how the alias of `xy` doesn't cause a problem.